<div id="wrapper" [formGroup]="form">

    <slick-time [validate]="validate" formControlName="startTimeStr" *ngIf="!displayOnly"></slick-time>
    <span *ngIf="displayOnly">{{ control('startTimeStr').value }}</span>

    <span id="to-separator">to</span>

    <slick-time [validate]="validate" formControlName="endTimeStr" *ngIf="!displayOnly"></slick-time>
    <span *ngIf="displayOnly">{{ control('endTimeStr').value }}</span>

    <div id="err-msg" class="warn-foreground" *ngIf="hasError('.') != null">
        <span>{{ errorMsgFor('.') }}</span>
    </div>

</div>
