#wrapper {
    display: inline-block;
    font-size: 18px;
    text-align: left;
}

#to-separator {
    margin-left: 15px;
    margin-right: 15px;
}

#err-msg {
    position: absolute;
    bottom: 0px;
    font-size: 14px;
}

.time-range-date {
    max-width: 130px;
    margin-right: 10px;
}
