<div class="date-time-range-wrapper" [formGroup]="form">

    <div class="start-date-time-wrapper date-time-wrapper">

        <b style="white-space: nowrap;">Start Time:</b>

        <slick-time [activateValidation]="activateValidation" formControlName="startDate" [includeDate]="includeDate" *ngIf="!displayOnly"></slick-time>

        <ng-container *ngIf="displayOnly">
            <span *ngIf="includeDate" style="white-space: nowrap;">{{ dateFormatter.dateToMonthDayYearString(control('startDate').value) }},</span>
            <span style="white-space: nowrap;">{{ dateFormatter.dateToWallClockString(control('startDate').value) }}</span>
        </ng-container>

    </div>

    <div class="date-time-wrapper">

        <b style="white-space: nowrap;">End Time:</b>

        <slick-time [activateValidation]="activateValidation" formControlName="endDate" [includeDate]="includeDate" *ngIf="!displayOnly"></slick-time>
        
        <ng-container *ngIf="displayOnly">
            <span *ngIf="includeDate" style="white-space: nowrap;">{{ dateFormatter.dateToMonthDayYearString(control('endDate').value) }},</span>
            <span style="white-space: nowrap;">{{ dateFormatter.dateToWallClockString(control('endDate').value) }}</span>
        </ng-container>

    </div>

    <div id="err-msg" class="warn-foreground" *ngIf="hasError('.') != null">
        <span>{{ errorMsgFor('.') }}</span>
    </div>

</div>
