.date-time-range-wrapper {
    font-size: 18px;
    width: 100%;
}

.err-msg {
    position: absolute;
    bottom: 0px;
    font-size: 14px;
}

.start-date-time-wrapper {
    margin: 0 30px 15px 0;
}

.date-time-wrapper {
    display: inline-block;
}

.time-range-date {
    max-width: 130px;
    margin-right: 10px;
}
