#back-drop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: gray;
    display: none;
    opacity: 0;
    z-index: 50;
}

#slick-left-panel {
    position: relative;
    z-index: 100;
    padding-left: 10px;
    padding-right: 10px;
    overflow: visible;
    word-wrap: break-word;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: white;
    max-width: 262px;
}

#slick-left-panel-button {
    position: absolute;
    height: 65px;
    width: 34px;
    min-width: 0px;
    padding: 0px;
    right: -34px !important;
    top: 10px;
    opacity: 1;
    visibility: hidden;
    z-index: 101;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    margin-bottom: 0px;
    transition: right 0.5s linear;
    -webkit-transition: right 0.5s linear;
    -moz-transition: right 0.5s linear;
    -ms-transition: right 0.5s linear;
    -o-transition: right 0.5s linear;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    outline: none;
}

.hide {
    opacity: 0 !important;
    visibility: hidden !important;
}

.vertical-line {
    display: inline-block;
    height: 30px;
    border-left: 3px solid gray;
}

#mid-vertical-line {
    margin-left: 2px;
    margin-right: 2px;
}

#button-title div {
    color: gray;
}

@media only screen and (max-width: 991px) {

    #slick-left-panel {
        position: absolute;
        /* padding-right: 34px; /* Make room for the button overlap! */
        border-bottom-right-radius: 10%;
        width: calc(100vw - 20px);
        right: 100%; /* The default state in mobile mode is to be off the screen to the left */
        transition: transform 0.3s linear;
        -webkit-transition: -webkit-transform 0.3s linear;
        -moz-transition: -moz-transform 0.3s linear;
        -ms-transition: -ms-transform 0.3s linear;
        -o-transition: -o-transform 0.3s linear;
    }

    .toggle-into-view {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }

    .show-back-drop {
        display: block !important;
        opacity: 0.67 !important;
    }

    .show-transparent-back-drop {
        display: block !important;
    }

    #slick-left-panel-button {
        visibility: visible;
    }

}