<div #backDrop id="back-drop"></div>

<div id="slick-left-panel" #slickLeftPanel>

    <button mat-raised-button color="primary" class="green-glow" id="slick-left-panel-button" [title]="buttonTitle" [style.height.px]="buttonHeightPx"
     #slickLeftPanelButton (click)="togglePanelVisibility(slickLeftPanel, slickLeftPanelButton._elementRef.nativeElement, backDrop)">

        <ng-container *ngIf="buttonTitleChars.length === 0">
            <div class="vertical-line"></div>
            <div class="vertical-line" id="mid-vertical-line"></div>
            <div class="vertical-line"></div>
        </ng-container>

        <ng-container *ngIf="buttonTitleChars.length !== 0">
            <span id="button-title" [style.font-size.px]="buttonTitleFontSizePx" *ngFor="let titleChar of buttonTitleChars">

                <div [style.height.px]="buttonTitleFontSizePx + 2" *ngIf="titleChar !== ' '">{{ titleChar }}</div>
                <div [style.height.px]="buttonTitleFontSizePx + 2" *ngIf="titleChar === ' '">&nbsp;</div>

            </span>
        </ng-container>

    </button>

    <ng-content></ng-content>
    
</div>
