<slick-filtered-list #filteredList [filters]="filters" [listings]="listings">

    <ng-container filters>
        <delivery-listings-filters #filters [formGroup]="filters" header="Search Filters" [additionalFilters]="additionalFilters">

            <ng-container top>
                        
                <h5>Delivery Status:</h5>
                <md-select formControlName="deliveryState" placeholder="Any Status" floatPlaceholder="never" title="Only shows deliveries with given status">
                    <md-option *ngFor="let deliveryState of deliveryStates" [value]="deliveryState">
                        {{ (deliveryState == null) ? 'Any Status' : deliveryUtilService.getReadableDeliveryState(deliveryState) }} 
                    </md-option>
                </md-select>

            </ng-container>

        </delivery-listings-filters>
    </ng-container>

    <ng-container listings>
        <slick-list #listings route="/deliverer/getDeliveries" header="Scheduled Deliveries" [dialog]="deliveryListingsDialog"
         (dataUpdated)="deserializeDeliveryListings($event)">

            <delivery-listings [deliveryListings]="deliveryListings" (selectListing)="listings.selectListing($event)"></delivery-listings>

        </slick-list>
    </ng-container>
        
</slick-filtered-list>


<slick-list-dialog #deliveryListingsDialog [header]="listings.getLastValidSelection()?.foodTitle" (opened)="dialogContents.refreshDialogState()">
        
    <delivery-listing-dialog #dialogContents
        [deliveryListing]="listings.getLastValidSelection()"
        [isCart]="true" (close)="deliveryListingsDialog.close()"
        (removeListing)="listings.removeSelectedListing(false)">
    </delivery-listing-dialog>

</slick-list-dialog>
