.slick-list-header {
    text-align: center;
}

.slick-list {
    position: relative;
    min-height: 400px;
    padding: 8px; /* Give extra room for border shadow of each slick-list-item */
}

:host ::ng-deep .slick-list .mat-progress-spinner {
    margin-top: 65px;
    max-width: 300px !important;
    max-height: 300px !important;
}


:host ::ng-deep .slick-list-spinner-showing .slick-list-item {
    visibility: hidden;
}


::ng-deep .slick-list-dialog-backdrop {
    background-color: #444;
    opacity: 0.9 !important;
}


::ng-deep .slick-list-dialog {
    position: relative !important;
    max-height: 95vh !important;
}


::ng-deep .slick-list-dialog .mat-dialog-container {
    margin-bottom: 30px;
    max-height: 95vh !important;
    padding: 0px !important;
    border-radius: 8px !important;
}


::ng-deep .slick-list-dialog .modal-body {
    max-height: 80vh;
    overflow: auto;
}


@media only screen and (min-width: 1200px) {

    :host ::ng-deep .slick-list .sticky-spinner {
        margin-left: 50%;
        margin-right: 50%;
    }
}


@media only screen and (max-width: 767px) {

    :host ::ng-deep .slick-list-item {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    
    :host ::ng-deep .slick-list-item-body > div {
        width: auto;
        text-align: left;
    }

    ::ng-deep .slick-list-dialog {
        max-width: 95vw !important;
    }
}
