<h3>{{header}}</h3>
<hr>
<div [formGroup]="this">

    <!-- Any additional filters will be transclused here -->
    <ng-content select="[top]"></ng-content>

    <h5>Food Types:</h5>
    <food-types formControlName="foodTypes" title="Only food falling into the checked categories will appear."></food-types>
    <br>

    <h5>Available After:</h5>
    <mat-input-container title="Only food available on or after this date will appear." floatPlaceholder="never" (click)="picker.open()">
        <input matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy" formControlName="availableAfterDate" readonly="true">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-input-container>
    <br>

    <h5>Refrigeration:</h5>
    <div>
        <label class="checkbox-compress">
            <mat-checkbox title="Check this if food that needs refrigeration should appear." formControlName="perishable">Refrigerated Food</mat-checkbox>
        </label>
        <br>
        <label class="checkbox-compress">
            <mat-checkbox title="Check this if food that does not need refrigeration should appear." formControlName="notPerishable">Non-Refrigerated Food</mat-checkbox>
        </label>
    </div>

    <!-- Any additional filters will be transclused here -->
    <ng-content select="[bottom]"></ng-content>

</div>
