mat-input-container {
    max-width: 30px;
    width:100%;
}

mat-input-container, :host ::ng-deep input {
    text-align: center;
}

.time-form {
    white-space: nowrap;
    display: inline-block;
}

.am-pm {
    text-align: center;
    margin-left: 3px;
}
