<slick-input-group #timeForm [formGroup]="timeForm" [validate]="validate" concatPattern="`hh`:`mm` `am`" [validators]="GROUP_VALIDATORS" [formControl]="timeControl">

    <span id="time-form">

        <mat-input-container floatPlaceholder="never">
            <input matInput placeholder="hh" formControlName="hh" [InputFilter]="validationService.DYNAMIC_HH_REG_EXP">
        </mat-input-container>

        <span>:</span>

        <mat-input-container floatPlaceholder="never">
            <input matInput placeholder="mm" formControlName="mm" [InputFilter]="validationService.DYNAMIC_MM_REG_EXP"
                   (blur)="validationService.ensureMinutes2Digits(timeForm.get('mm'))">
        </mat-input-container>

        <mat-input-container id="am-pm" floatPlaceholder="never">
            <input #amPmInput matInput placeholder="Am" formControlName="am" [InputFilter]="['Am', 'Pm']"
                   [ngbTypeahead]="typeaheadService.genOptionsFilter(amPmInput, ['Am', 'Pm'])" container="body" [placement]="typeaheadService.PLACEMENT">
        </mat-input-container>

    </span>
    
</slick-input-group>