<h3>Deliveries</h3>
<hr>


<!-- This is the Delivery Food Listings (generated via loop) -->
<slick-list-item *ngFor="let deliveryFoodListing of listData; let i = index;">

    <ng-container slick-list-item-left>

        <slick-map #SlickMapComponent [addresses]="[ deliveryFoodListing.donorInfo, deliveryFoodListing.receiverInfo ]"
         [addressNames]="[ deliveryFoodListing.donorInfo.organizationName, deliveryFoodListing.receiverInfo.organizationName ]"
         [diameterMi]="deliveryFoodListingUtilService.calcMaxMapDiameterFromDelivery(deliveryFoodListing)">
        </slick-map>

    </ng-container>


    <ng-container slick-list-item-right-header>
        <a (click)="selectListing(i)" title="Click for Details">{{ deliveryFoodListing.foodTitle }}</a>
    </ng-container>

    <div slick-list-item-right-body class="row">

        <div class="col-lg-6 col-md-12" id="right-body-col1">
        
            <div class="space-bottom">
                <b>Donor</b><br>
                <span class="inline-block">{{ deliveryFoodListing.donorInfo.organizationName }}</span><br>
                <span>{{ deliveryFoodListing.donorInfo.address }}</span><br>
                <span>
                    {{ deliveryFoodListing.donorInfo.city }}, {{ deliveryFoodListing.donorInfo.state }} {{ deliveryFoodListing.donorInfo.zip }}
                </span>
            </div>

        </div>

        <div class="col-lg-6 col-md-12">

            <div class="space-bottom">
                <b>Receiver</b><br>
                <span class="inline-block">{{ deliveryFoodListing.receiverInfo.organizationName }}</span><br>
                <span>{{ deliveryFoodListing.receiverInfo.address }}</span><br>
                <span>
                    {{ deliveryFoodListing.receiverInfo.city }}, {{ deliveryFoodListing.receiverInfo.state }} {{ deliveryFoodListing.receiverInfo.zip }}
                </span>
            </div>

        </div>

        <div class="col-lg-12">
            <b>Total Driving Distance:</b>
            <div class="inline-block">
                {{ deliveryFoodListingUtilService.calcTotalDrivingDistance(deliveryFoodListing) }} miles
            </div>
        </div>

        <div class="col-lg-12">
            <b>Total Driving Time:</b>
            <div class="inline-block">
                {{ deliveryFoodListingUtilService.calcTotalDrivingTime(deliveryFoodListing) }} minutes
            </div>
        </div>

        <div class="col-lg-12">
            <a [href]="SlickMapComponent.genGoogleMapsHref()" target="_blank" class="link-content">Get Directions</a>
        </div>

    </div>
    
</slick-list-item>


<!-- This is our modal popup. It is separated into its own (child) component.
     Simply pass down transcluded HTML into this child component here! -->
<deliver-dialog #DeliverDialogComponent>

    <ng-container delivery-food-listing-dialog-footer>
        <ng-content select="[delivery-food-listing-dialog-footer]"></ng-content>
    </ng-container>

</deliver-dialog>
