<app-slick-left-panel [buttonTitle]="header" [ignoreClicksOutsidePanel]="picker.opened" [ignoreOutsideClickInId]="picker.id" [maxWidth]="maxWidth">
    
    <h3>{{header}}</h3>
    <hr>
    <div [formGroup]="filtersForm">

        <!-- Any additional filters will be transclused here -->
        <ng-content select="[top]"></ng-content>

        <md-select placeholder="Max Distance">
            <md-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
            </md-option>
        </md-select>

        <!-- Any additional filters will be transclused here -->
        <ng-content select="[bottom]"></ng-content>

    </div>

</app-slick-left-panel>
