#tax-id-label {
    color: gray;
    margin-right: 5px;
}

#tax-id-form {
    white-space: nowrap;
    overflow-x: scroll;
}

.first-2digits {
    width: 20px;
}

.last-7digits {
    width: 70px;
}

input, .first-2digits, .last-7digits {
    text-align: center;
}

.tax-id-hyphen {
    font-weight: bold;
    margin-left: 7px;
    margin-right: 7px;
}
