img {
    max-width: 100%;
}


@media only screen and (max-width: 991px) {

    #slick-list-item-body > div {
        display: inline-block;
        width: auto;
        text-align: left;
    }

    .hide-mobile {
        display: none !important;
    }
}
