<h2 class="slick-list-header">{{ header }}</h2>
<hr>


<div id="delivery-listings" class="slick-list" [slick-progress-spinner]="showProgressSpinner"
 spinnerStickyTopId="delivery-listings" spinnerBackdropColor="white" [ngClass]="{ 'slick-list-spinner-showing': showProgressSpinner }">
    
    <slick-list-item *ngFor="let deliveryListing of listData; let i = index;">

        <ng-container slick-list-item-img>

            <slick-map #SlickMapComponent
                [addresses]="[ sessionDataService.getAppUserSessionData(), deliveryListing.donorInfo, deliveryListing.receiverInfo ]"
                [addressNames]="[ 'Me', deliveryListing.donorInfo.organizationName, deliveryListing.receiverInfo.organizationName ]"
                [diameterMi]="deliveryUtilService.calcMaxMapDiameterFromDelivery(deliveryListing)">
            </slick-map>

        </ng-container>


        <a (click)="selectListing(i)" title="Click for Details" slick-list-item-header>{{ deliveryListing.foodTitle }}</a>
        <a (click)="selectListing(i)" title="Click for Details" slick-list-item-body-header>{{ deliveryListing.foodTitle }}</a>

        <div slick-list-item-body id="slick-list-item-body" class="row">

            <div class="col-lg-6">
            
                <div class="space-bottom">
                    <b>Donor</b><br>
                    <span class="inline-block">{{ deliveryListing.donorInfo.organizationName }}</span><br>
                    <span>{{ deliveryListing.donorInfo.address }}</span><br>
                    <span>{{ deliveryListing.donorInfo.city }}, {{ deliveryListing.donorInfo.state }} {{ deliveryListing.donorInfo.zip }}</span>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="space-bottom">
                    <b>Receiver</b><br>
                    <span class="inline-block">{{ deliveryListing.receiverInfo.organizationName }}</span><br>
                    <span>{{ deliveryListing.receiverInfo.address }}</span><br>
                    <span>{{ deliveryListing.receiverInfo.city }}, {{ deliveryListing.receiverInfo.state }} {{ deliveryListing.receiverInfo.zip }}</span>
                </div>

            </div>

            <div class="col-lg-12 hide-mobile">

                <b>Total Drive Distance:</b>
                <div class="inline-block">
                    {{ deliveryUtilService.calcTotalDrivingDistance(deliveryListing) }} miles
                </div><br>

                <b>Total Drive Time:</b>
                <div class="inline-block">
                    {{ deliveryUtilService.calcTotalDrivingTime(deliveryListing) }} minutes
                </div><br>

                <div>
                    <a [href]="SlickMapComponent.googleMapsHref" target="_blank" class="link-content">Get Directions</a>
                </div>
            </div>            

        </div>
        
    </slick-list-item>

</div>
