<div id="wrapper" class="no-pad-top-input no-pad-mid-input no-pad-bottom-input" [formGroup]="form">

    <slick-input-group #startTimeForm [formGroup]="startTimeForm" [validate]="validate" *ngIf="!displayOnly"
     concatPattern="`hh`:`mm` `am`" [validators]="groupValidators" formControlName="startTime">
        <span id="start-time-form">

            <mat-input-container floatPlaceholder="never">
                <input matInput placeholder="hh" formControlName="hh" [InputFilter]="DYNAMIC_HH_REG_EXP">
            </mat-input-container>

            <span>:</span>

            <mat-input-container floatPlaceholder="never">
                <input #startMM matInput placeholder="mm" formControlName="mm" [InputFilter]="DYNAMIC_MM_REG_EXP" (blur)="ensureMinutes2Digits(startTimeForm.controls.mm)">
            </mat-input-container>

            <slick-auto-complete-input containerId="am-pm" [autoCompleteData]="['Am', 'Pm']" placeholder="Am" floatPlaceholder="never"
            [mustMatchAutoComplete]="true" [selectOnBlur]="true" [inputControl]="startTimeForm.get('am')"></slick-auto-complete-input>

        </span>
    </slick-input-group>

    <span *ngIf="displayOnly">{{ control('startTime').value }}</span>

    <span id="to-separator">to</span>

    <slick-input-group #endTimeForm [formGroup]="endTimeForm" [validate]="validate" *ngIf="!displayOnly"
     concatPattern="`hh`:`mm` `am`" [validators]="groupValidators" formControlName="endTime">
        <span id="end-time-form">
            
            <mat-input-container floatPlaceholder="never">
                <input matInput placeholder="hh" formControlName="hh" [InputFilter]="DYNAMIC_HH_REG_EXP">
            </mat-input-container>

            <span>:</span>

            <mat-input-container floatPlaceholder="never">
                <input #endMM matInput placeholder="mm" formControlName="mm" [InputFilter]="DYNAMIC_MM_REG_EXP" (blur)="ensureMinutes2Digits(endTimeForm.controls.mm)">
            </mat-input-container>

            <slick-auto-complete-input containerId="am-pm" [autoCompleteData]="['Am', 'Pm']" placeholder="Am" floatPlaceholder="never"
            [mustMatchAutoComplete]="true" [selectOnBlur]="true" [inputControl]="endTimeForm.get('am')"></slick-auto-complete-input>

         </span>
    </slick-input-group>

    <span *ngIf="displayOnly">{{ control('endTime').value }}</span>

    <div id="err-msg" class="warn-foreground" *ngIf="hasError('.') != null">
        <span>{{ errorMsgFor('.') }}</span>
    </div>

</div>
