#wrapper {
    display: inline-block;
    font-size: 18px;
    text-align: left;
}

#start-time-form, #end-time-form {
    white-space: nowrap;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#to-separator {
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

#err-msg {
    margin-top: 10px;
    font-size: 14px;
}

md-input-container {
    max-width: 30px;
}

md-input-container, :host ::ng-deep input {
    text-align: center;
}

:host ::ng-deep #am-pm {
    width: 30px;
    text-align: center;
    padding-left: 10px;
}
