.header-text {
    padding-right: 25px;
}

::ng-deep .modal-backdrop.fade.show {
    opacity: 1 !important;
    background-color: #444;
}

/* NOTE: .slick-list-dialog references class injected into dialog component in slick-list-dialog.component.ts */
::ng-deep .slick-list-dialog > .modal-dialog {
    width: 100%;
    max-width: 100%;
    padding-right: 20px; /* In small screen, this will make spacing on left and right equal! */
}

.modal-button-group {
    width: 100%;
    border-top: 1px solid lightgray;
    display: block !important;
    text-align: right;
    padding-top: 7px;
}


@media only screen and (max-width: 767px)  {
    
    .modal-button-group button {
        width: 100%;
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
}


/* Big screen for Dialog */
@media (min-width: 1450px) {
    ::ng-deep .slick-list-dialog > .modal-dialog {
        max-width: 1400px;
    }
}


/* Medium screen for Dialog */
@media (min-width: 576px) {
    ::ng-deep .slick-list-dialog > .modal-dialog {
        padding-right: 30px;
        padding-left: 30px;
    }
}
