<slick-list-dialog #SlickListDialogComponent [header]="dialogData?.foodTitle">

    <div class="modal-body" *ngIf="isOpen()">

        <food-listing-info [foodListing]="dialogData" [isClaimedCart]="isClaimedCart" [isDonatedCart]="isDonatedCart" *ngIf="isDialogState('FoodListingInfo')"
         (toClaim)="toClaim()"></food-listing-info>

        <food-listing-claim [foodListing]="dialogData" *ngIf="isDialogState('Claim')" (claimed)="removeListing.emit(false)" (close)="close()"></food-listing-claim>

    </div>

</slick-list-dialog>
