:host ::ng-deep #slick-left-panel {
    max-width: 262px !important; /* NOTE: Same as #filters style above */
}

@media only screen and (max-width: 1199px) {

    #filters {
        position: absolute;
        left: 0px;
        padding: 0px;
    }

    #listings {
        text-align: center;
    }

    .container {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
    }
}


@media only screen and (max-width: 776px) {

    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}
