.nav-link {
    /* Make border same color as navigation bar background when not in hover state so size remains consistent */
    border-right: 1px solid #292B2C;
    border-left: 1px solid #292B2C;
    font-size: 30px;
    height: 100%;
    min-height: 75px;
    display: inline-block;
    text-align: center;
    outline: none;
    transition: background 0.5s ease, color 0.5s ease;
    -webkit-transition: background 0.5s ease, color 0.5s ease;
    -moz-transition: background 0.5s ease, color 0.5s ease;
    -ms-transition: background 0.5s ease, color 0.5s ease;
    -o-transition: background 0.5s ease, color 0.5s ease;
}

.nav-link:hover {
    background-color: #444444;
    color: goldenrod !important;
    cursor: pointer;
    cursor: hand;
    border-right: 1px solid #555555;
    border-left: 1px solid #555555;
}

.nav-item {
    margin: 0px 10px 0px 10px;
    white-space: nowrap;
}

.navbar-toggler {
    height: 70px;
    font-size: 30px;
    padding: 0px;
    text-align: center;
    outline: none;
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}

.navbar-toggler:hover {
    background-color: #444444;
    cursor: pointer;
    cursor: hand;
}

#header {
	text-align: center;
	font-size: 30px;
	height: 150px;
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 3700; /*Keep this on top!*/
}

#header-bottom-pad {
    height: 30px;
    width: 100%;
    position: relative;
}

#logo {
	height: 150px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 262px;
	padding: 0;
    margin: 0;
    z-index: 100;
}

nav {
	max-height: 75px; /* NOTE: Changing this will require a change to #banner margin-top style accordingly! */
    margin-left: 262px;
    padding: 0px 2px 0px 2px;
}

#banner {
    margin-top: -75px; /* Bring the banner up to be positioned within the header just below the nav! */
	position: relative;
	width: 100%;
}

@media screen and (max-width: 767px) {

    .collapse {
        position: absolute;
        width: 100%;
        background-color: #292B2C;
        top: 70px;
        left: 0px;
        display: block !important;
        max-height: 0px;
        transition: max-height 0.25s ease-out;
        -o-transition: max-height 0.25s ease-out;
        -ms-transition: max-height 0.25s ease-out;
        -moz-transition: max-height 0.25s ease-out;
        -webkit-transition: max-height 0.25s ease-out;
        overflow: hidden;
    }
    
    .collapse.show {
        max-height: 1000px;
    }

	nav {
		max-height: 100%;
		min-height: 65px;
		margin-left: 0px;
	}

	#header {
		height: auto;
		position: relative;
	}

	#logo {
		visibility: hidden;
	}
}
