<slick-filtered-list #filteredList [filters]="filters" [listings]="listings">

    <ng-container filters>
        <food-listings-filters #filters [formGroup]="filters" header="Find Food" [additionalFilters]="additionalFilters">

            <ng-container bottom>
                
                <br>
                <h5>Match Availability:</h5>
                <div class="form-group">
                    <mat-checkbox formControlName="matchRegularAvailability" title="Check this to match your regular weekly availability with the donor's availability.">
                        Regular Availability
                    </mat-checkbox>
                </div>

            </ng-container>

        </food-listings-filters>
    </ng-container>



    <ng-container listings>
        <food-listings #listings header="Availabile Food"></food-listings>
    </ng-container>

</slick-filtered-list>
