<slick-filtered-list>

    <ng-container filters>
        <food-listings-filters #filters [formGroup]="filters" header="Search Filters">

            <ng-container bottom>
                
                <br>
                <h5>Availability Schedule:</h5>
                <div class="form-group">
                    <md-checkbox formControlName="matchAvailability" title="Check this to ensure each donor is available when you are.">
                        Match Availability
                    </md-checkbox>
                </div>

            </ng-container>

        </food-listings-filters>
    </ng-container>

    <ng-container listings>
        <food-listings header="Available Food" #listings></food-listings>
    </ng-container>

</slick-filtered-list>
