mat-radio-button {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
}

:host ::ng-deep .mat-expansion-panel-body {
    max-height: 300px;
    overflow-y: auto;
}

.radio-container {
    padding-top: 8px;
}
