<form [formGroup]="form" class="container" *ngIf="!signupComplete" [slick-progress-spinner]="showProgressSpinner" maxWidth="200px" maxHeight="200px">

    <mat-horizontal-stepper #stepper [linear]="true">

        <mat-step [stepControl]="control('primary.appUserType')" [formGroup]="control('primary')" label="User Type">

            <h3 class="center-text">What Type of User Are You</h3>
            <hr>

            <mat-radio-group class="row center-text space-bottom" (change)="stepper.next()" formControlName="appUserType">

                <div class="col-md-4" *ngFor="let type of appUserTypes; let i = index">
                    <mat-radio-button name="accountType" [value]="type">{{ type }}</mat-radio-button>
                </div>

            </mat-radio-group>

            <button #appUserTypeNext *ngIf="control('primary.appUserType').value != null"
                mat-raised-button color="primary" class="button-md" matStepperNext>Next</button>

        </mat-step>

        
        <mat-step [stepControl]="control('primary')" [formGroup]="control('primary')" label="Primary Info">

            <!-- Next, get the user's primary information -->
            <h3 class="center-text">Identification and Password</h3>
            <hr>

            <div class="row">

                <div class="col-md-6">
                    <div class="limit-width">

                        <mat-input-container class="form-group">
                            <input matInput [placeholder]="adminPreStr + ' Email'" type="email" name="username" formControlName="email" autocomplete="off">
                            <mat-error *ngIf="hasError('primary.email')">{{ errorMsgFor('primary.email') }}</mat-error>
                        </mat-input-container>

                        <mat-input-container class="form-group" *ngIf="isOrganization()">
                            <input matInput placeholder="Organization Name" name="organizationName" formControlName="organizationName">
                        </mat-input-container>

                        <div class="row">

                            <mat-input-container class="form-group col-md-6">
                                <input matInput [placeholder]="adminPreStr + ' First Name'" name="fname" formControlName="firstName">
                            </mat-input-container>

                            <mat-input-container class="form-group col-md-6">
                                <input matInput [placeholder]="adminPreStr + ' Last Name'" name="lname" formControlName="lastName">
                            </mat-input-container>

                        </div>
                    
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="limit-width">

                        <mat-input-container class="form-group" *ngIf="isOrganization()">
                            <input matInput placeholder="Organization Tax ID" [textMask]="{ mask: appUserConstants.TAX_ID_MASK, placeholderChar: '\u2000' }"
                                   formControlName="taxId">
                        </mat-input-container>

                        <mat-input-container class="form-group">
                            <input matInput placeholder="Password" type="password" formControlName="password" autocomplete="new-password">
                            <mat-error *ngIf="hasError('primary.password')">{{ errorMsgFor('primary.password') }}</mat-error>
                        </mat-input-container>

                        <mat-input-container class="form-group">
                            <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" autocomplete="new-password">
                            <mat-error *ngIf="hasError('primary.confirmPassword')">{{ errorMsgFor('primary.confirmPassword') }}</mat-error>
                        </mat-input-container>

                    </div>
                </div>

            </div>

            <button mat-raised-button color="primary" class="button-md warn-button" type="button" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" class="button-md" (click)="validate.set('primary', true)" matStepperNext>Next</button>

        </mat-step>

        <mat-step [stepControl]="control('addressPhone')" [formGroup]="control('addressPhone')" label="Address & Phone">

            <!-- Then, get the user's contact information -->
            <h3 class="center-text">Address and Phone</h3>
            <hr>

            <div class="row">

                <div class="col-md-6">
                    <div class="limit-width">

                        <mat-input-container class="form-group">
                            <input matInput placeholder="Street Address" name="address" formControlName="address">
                        </mat-input-container>

                        <div class="row">

                            <mat-input-container class="form-group col-md-5">
                                <input matInput placeholder="City" name="city" formControlName="city">
                            </mat-input-container>

                            <mat-input-container class="form-group col-md-3">
                                <input #stateInput matInput placeholder="state" name="state" formControlName="state"
                                 [ngbTypeahead]="typeaheadService.genOptionsFilter(stateInput, appUserConstants.STATE_LIST)" container="body">
                            </mat-input-container>

                            <mat-input-container id="zip" class="form-group col-md-4">
                                <input matInput placeholder="Zip" name="zip" [InputFilter]="appUserConstants.DYNAMIC_ZIP_REGEX" formControlName="zip">
                                <mat-error *ngIf="hasError('addressPhone.zip')">{{ errorMsgFor('addressPhone.zip') }}</mat-error>
                            </mat-input-container>

                        </div>
                    </div>

                </div>

                <mat-input-container class="form-group col-md-6">
                    <input matInput placeholder="phone number" [textMask]="{ mask: appUserConstants.PHONE_MASK, placeholderChar: '\u2000' }" formControlName="phone">
                </mat-input-container>

            </div>

            <button mat-raised-button color="primary" class="button-md warn-button" type="button" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" class="button-md" (click)="validate.set('addressPhone', true)" matStepperNext>Next</button>

        </mat-step>

        <mat-step [stepControl]="form" [formGroup]="form" label="Availability">

            <!-- Then, get the user's weekly availability information -->
            <h3 class="center-text">Weekly Availability</h3>
            <hr>

            <slick-weekday-schedule-builder [validate]="validate.get('availability')" formControlName="availability"></slick-weekday-schedule-builder>

            <button mat-raised-button color="primary" class="button-md warn-button" type="button" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" class="button-md" type="submit" (click)="signupUser(form.value, form.valid)">Submit</button>

        </mat-step>

    </mat-horizontal-stepper>

    <div class="signup-error" *ngIf="signupError != null">{{ signupError }}</div>

</form>


<!-- Last, display the signup confirmation dialog -->
<div class="container" *ngIf="signupComplete">
    <p>Thank-you for joining Food Web!</p>
    <br>
    <p>A confirmation link will be sent to you via email. Please follow the link within the next 24 hours to confirm your signup.</p>
</div>
