.signup-error {
	text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

md-radio-group {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.space-bottom {
    margin-bottom: 15px;
}

.limit-width {
    max-width: 410px;
}

:host ::ng-deep mat-step-header {
    cursor: pointer;
    cursor: hand;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
    margin-bottom: 70px;
}

@media only screen and (max-width: 767px) {
    :host ::ng-deep .mat-step-label {
        display: none;
    }
}

:host ::ng-deep md-input-container {
    width: 100%;
}

slick-auto-complete-input {
    margin-bottom: 10px;
}
