<form [formGroup]="signupForm" class="container" *ngIf="!signupComplete">

    <md-horizontal-stepper #stepper [linear]="true">

        <md-step [stepControl]="signupForm.get('primary.appUserType')" [formGroup]="signupForm.get('primary')" label="User Type">

            <h3 class="center-text">What Type of User Are You</h3>
            <hr>

            <md-radio-group class="row center-text space-bottom" (change)="stepper.next()" formControlName="appUserType">

                <div class="col-md-4" *ngFor="let typeKey of appUserConstants.APP_USER_TYPE_KEYS; let i = index">
                    <md-radio-button name="accountType" [value]="appUserConstants.APP_USER_TYPE_VALS[i]">
                        {{ typeKey }}
                    </md-radio-button>
                </div>

            </md-radio-group>

            <button #appUserTypeNext *ngIf="signupForm.get('primary.appUserType').value != null"
                md-raised-button color="primary" class="button-md" mdStepperNext>Next</button>

        </md-step>

        
        <md-step [stepControl]="signupForm.get('primary')" [formGroup]="signupForm.get('primary')" label="Primary Info">

            <!-- Next, get the user's primary information -->
            <h3 class="center-text">Identification and Password</h3>
            <hr>

            <div class="row">

                <div class="col-md-6">
                    <div class="limit-width">

                        <md-input-container class="form-group">
                            <input mdInput [placeholder]="adminPreStr + ' Email'" type="email" name="username" formControlName="email" autocomplete="off">
                            <md-error *ngIf="hasError('primary.email')">{{ errorMsgFor('primary.email') }}</md-error>
                        </md-input-container>

                        <md-input-container class="form-group" *ngIf="isOrganization()">
                            <input mdInput placeholder="Organization Name" name="organizationName" formControlName="organizationName">
                        </md-input-container>

                        <div class="row">

                            <md-input-container class="form-group col-md-6">
                                <input mdInput [placeholder]="adminPreStr + ' First Name'" name="fname" formControlName="firstName">
                            </md-input-container>

                            <md-input-container class="form-group col-md-6">
                                <input mdInput [placeholder]="adminPreStr + ' Last Name'" name="lname" formControlName="lastName">
                            </md-input-container>

                        </div>
                    
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="limit-width">

                        <md-input-container class="form-group">
                            <input mdInput placeholder="Password" type="password" formControlName="password" autocomplete="new-password">
                            <md-error *ngIf="hasError('primary.password')">{{ errorMsgFor('primary.password') }}</md-error>
                        </md-input-container>

                        <md-input-container class="form-group">
                            <input mdInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" autocomplete="new-password">
                            <md-error *ngIf="hasError('primary.confirmPassword')">{{ errorMsgFor('primary.confirmPassword') }}</md-error>
                        </md-input-container>

                    </div>
                </div>

            </div>

            <button md-raised-button color="primary" class="button-md warn-button" type="button" mdStepperPrevious>Back</button>
            <button md-raised-button color="primary" class="button-md" (click)="validate.set('primary', true)" mdStepperNext>Next</button>

        </md-step>

        <md-step [stepControl]="signupForm.get('addressPhone')" [formGroup]="signupForm.get('addressPhone')" label="Address & Phone">

            <!-- Then, get the user's contact information -->
            <h3 class="center-text">Address and Phone</h3>
            <hr>

            <div class="row">

                <div class="col-md-6">
                    <div class="limit-width">

                        <md-input-container class="form-group">
                            <input mdInput placeholder="Street Address" name="address" formControlName="address">
                        </md-input-container>

                        <div class="row">

                            <md-input-container class="form-group col-md-5">
                                <input mdInput placeholder="City" name="city" formControlName="city">
                            </md-input-container>

                            <slick-auto-complete-input [autoCompleteData]="appUserConstants.STATE_LIST" placeholder="State" [selectOnBlur]="true"
                                [mustMatchAutoComplete]="true" class="col-md-3" [inputControl]="signupForm.get('addressPhone.state')"></slick-auto-complete-input>

                            <md-input-container id="zip" class="form-group col-md-4">
                                <input mdInput placeholder="Zip" name="zip" [InputFilter]="appUserConstants.DYNAMIC_ZIP_REGEX" formControlName="zip">
                                <md-error *ngIf="hasError('addressPhone.zip')">{{ errorMsgFor('addressPhone.zip') }}</md-error>
                            </md-input-container>

                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <phone required="true" [validate]="validate.get('addressPhone')" formControlName="phone"></phone>
                </div>

            </div>

            <button md-raised-button color="primary" class="button-md warn-button" type="button" mdStepperPrevious>Back</button>
            <button md-raised-button color="primary" class="button-md" (click)="validate.set('addressPhone', true)" mdStepperNext>Next</button>

        </md-step>

        <md-step [stepControl]="signupForm" [formGroup]="signupForm" label="Availability">

            <!-- Then, get the user's weekly availability information -->
            <h3 class="center-text">Weekly Availability</h3>
            <hr>

            <slick-weekday-scheduler [validate]="validate.get('availability')" formControlName="availability"></slick-weekday-scheduler>

            <button md-raised-button color="primary" class="button-md warn-button" type="button" mdStepperPrevious>Back</button>
            <button md-raised-button color="primary" class="button-md" type="submit" (click)="signupUser(signupForm.value, signupForm.valid)">Submit</button>

        </md-step>

    </md-horizontal-stepper>

    <div class="signup-error" *ngIf="signupError != null">{{ signupError }}</div>

</form>


<!-- Last, display the signup confirmation dialog -->
<div class="container" *ngIf="signupComplete">
    <p>Thank-you for joining Food Web!</p>
    <br>
    <p>A confirmation link will be sent to you via email. Please follow the link within the next 24 hours to confirm your signup.</p>
</div>
