<h2 class="slick-list-header">{{ header }}</h2>
<hr>


<div id="food-listings" class="slick-list" [slick-progress-spinner]="showProgressSpinner"
 spinnerStickyTopId="food-listings" spinnerBackdropColor="white" [ngClass]="{ 'slick-list-spinner-showing': showProgressSpinner }">

    <!-- This is the Food Listings (generated via loop) -->
    <slick-list-item *ngFor="let foodListing of listData; let i = index">

        <ng-container slick-list-item-img>
            <img DefaultImg [src]="( foodListing.imgUrls ? foodListing.imgUrls[0] : null )" alt="Image Not Available"/>
        </ng-container>

        <a (click)="selectListing(i)" title="Click for Details" slick-list-item-header>{{ foodListing.foodTitle }}</a>
        <a (click)="selectListing(i)" title="Click for Details" slick-list-item-body-header>{{ foodListing.foodTitle }}</a>
        
        <div slick-list-item-body id="slick-list-item-body" class="row">

            <ng-container *ngIf="!isDonatedCart">
        
                <div class="col-lg-6">

                    <div class="space-bottom">
                        <div><b>Donor</b></div>
                        <span>{{ foodListing.donorInfo.organization.name }}</span>
                    </div>

                    <div class="space-bottom">
                        <div><b>Donor Address</b></div>
                        <div class="inline-block">
                            <span>{{ foodListing.donorInfo.contactInfo.address }}</span><br>
                            <span>{{ foodListing.donorInfo.contactInfo.city }}, {{ foodListing.donorInfo.contactInfo.state }}</span>
                        </div>
                    </div>

                    <div class="space-bottom" *ngIf="isClaimedCart">
                        <div><b>Deliverer</b></div>
                        <span *ngIf="foodListing.claimInfo.delivererInfo != null">
                            {{ foodListing.claimInfo.delivererInfo.firstName + ' ' + foodListing.claimInfo.delivererInfo.lastName }}
                        </span>
                        <span *ngIf="foodListing.claimInfo.delivererInfo == null">
                            None
                        </span>
                    </div>

                </div>

                <div class="col-lg-6 hide-phone">

                    <div class ="space-bottom" *ngIf="foodListing.donorInfo.contactInfo.drivingDistance != null">
                        <div><b>Drive Distance</b></div>
                        <span class="inline-block">{{ foodListing.donorInfo.contactInfo.drivingDistance + ' miles' }}</span>
                    </div>

                    <div class="space-bottom">
                        <div><b>Available Until</b></div>
                        <span>{{ dateFormatter.dateToMonthDayYearString(foodListing.availableUntilDate) }}</span>
                    </div>
            
                </div>

            </ng-container>

            <ng-container *ngIf="isDonatedCart">

                <div class="col-lg-6">

                    <div class="space-bottom">
                        <div><b>Receiver</b></div>
                        <span *ngIf="foodListing.claimInfo.receiverInfo != null">{{ foodListing.claimInfo.receiverInfo.organization.name }}</span>
                        <span *ngIf="foodListing.claimInfo.receiverInfo == null">None</span>
                    </div>

                    <div class="space-bottom" *ngIf="foodListing.claimInfo.receiverInfo != null">
                        <div><b>Receiver Address</b></div>
                        <div class="inline-block">
                            <span>{{ foodListing.claimInfo.receiverInfo.contactInfo.address }}</span><br>
                            <span>{{ foodListing.claimInfo.receiverInfo.contactInfo.city }}, {{ foodListing.claimInfo.receiverInfo.contactInfo.state }}</span>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="space-bottom">
                        <div><b>Deliverer</b></div>
                        <span *ngIf="foodListing.claimInfo.delivererInfo != null">
                            {{ foodListing.claimInfo.delivererInfo.firstName + ' ' + foodListing.claimInfo.delivererInfo.lastName }}
                        </span>
                        <span *ngIf="foodListing.claimInfo.delivererInfo == null">
                            None
                        </span>
                    </div>

                </div>

            </ng-container>


        
        </div>

    </slick-list-item>

</div>
