<h2 id="list-header">{{ header }}</h2>
<hr>


<div id="food-listings" class="slick-list" [slick-progress-spinner]="showProgressSpinner" spinnerStickyTopId="food-listings" backdropColor="white">

    <!-- This is the Food Listings (generated via loop) -->
    <slick-list-item *ngFor="let foodListing of listData; let i = index">

        <ng-container slick-list-item-img>
            <img DefaultImg [src]="foodListing.imgUrl" alt="Image Not Available"/>
        </ng-container>

        <ng-container slick-list-item-header>
            <a (click)="selectListing(i)" title="Click for Details">{{ foodListing.foodTitle }}</a>
        </ng-container>

        <ng-container slick-list-item-body-header>
            <a (click)="selectListing(i)" title="Click for Details">{{ foodListing.foodTitle }}</a>
        </ng-container>
        
        <div slick-list-item-body id="slick-list-item-body" class="row">
        
            <div class="col-lg-6" *ngIf="!isDonatedCart">
                        
                <div class="space-bottom">
                    <div><b>Donor</b></div>
                    <span>{{ foodListing.donorInfo.organizationName }}</span>
                </div>

                <div class="space-bottom">
                    <div><b>Donor Address</b></div>
                    <div class="inline-block">
                        <span>{{ foodListing.donorInfo.address }}</span><br>
                        <span>{{ foodListing.donorInfo.city }}, {{ foodListing.donorInfo.state }}</span>
                    </div>
                </div>
        
            </div>
        
            <div class="col-lg-6 hide-phone">

                <div class ="space-bottom" *ngIf="foodListing.donorInfo.drivingDistance != null">
                    <div><b>Drive Distance</b></div>
                    <span class="inline-block">{{ foodListing.donorInfo.drivingDistance + ' miles' }}</span>
                </div>

                <div class="space-bottom">
                    <div><b>Available Until</b></div>
                    <span>{{ dateFormatter.dateToMonthDayYearString(foodListing.availableUntilDate) }}</span>
                </div>
        
            </div>
        
        </div>

    </slick-list-item>

</div>
