<div *ngIf="!stateChangeComplete && !startComplete" [slick-progress-spinner]="showMappings.get('progressSpinner')">

    <!-- Body in the format of a Slick List Item! -->
    <slick-list-item [includeBorder]="false">
        
        <ng-container slick-list-item-img>

            <slick-map #SlickMapComponent
                [addresses]="[ sessionDataService.getAppUserSessionData(), delivery.donorInfo, delivery.receiverInfo ]"
                [addressNames]="[ 'Me', delivery.donorInfo.organizationName, delivery.receiverInfo.organizationName ]"
                [diameterMi]="deliveryUtilService.calcMaxMapDiameterFromDelivery(delivery)">
            </slick-map>

        </ng-container>

        <div slick-list-item-body class="row">
            
            <slick-expansion-panel class="col-lg-6 col-md-12 desktop-space-bottom">
                        
                <ng-container mat-panel-title>Donor Contact</ng-container>
                
                <span class="inline-block">{{ delivery.donorInfo.organizationName }}</span><br>
                <span>{{ delivery.donorInfo.address }}</span><br>
                <span class="space-bottom">
                    {{ delivery.donorInfo.city }}, {{ delivery.donorInfo.state }} {{ delivery.donorInfo.zip }}
                </span><br>
                <a href="tel:{{delivery.donorInfo.phone}}" class="link-content no-word-wrap">{{ delivery.donorInfo.phone }}</a>

            </slick-expansion-panel>
            
            <slick-expansion-panel class="col-lg-6 col-md-12 desktop-space-bottom">
                        
                <ng-container mat-panel-title>Receiver Contact</ng-container>

                <span class="inline-block">{{ delivery.receiverInfo.organizationName }}</span><br>
                <span>{{ delivery.receiverInfo.address }}</span><br>
                <span>
                    {{ delivery.receiverInfo.city }}, {{ delivery.receiverInfo.state }} {{ delivery.receiverInfo.zip }}
                </span><br>
                <a href="tel:{{delivery.receiverInfo.phone}}" class="link-content no-word-wrap">{{ delivery.receiverInfo.phone }}</a>

            </slick-expansion-panel>

            <slick-expansion-panel class="col-lg-12">

                <ng-container mat-panel-title>Delivery Info</ng-container>

                <div>
                    <b>Total Drive Distance:</b>
                    <div class="inline-block">{{ deliveryUtilService.calcTotalDrivingDistance(delivery) }} miles</div>
                </div>
        
                <div>
                    <b>Total Drive Time:</b>
                    <div class="inline-block">{{ deliveryUtilService.calcTotalDrivingTime(delivery) }} minutes</div>
                </div>
        
                <div class="space-bottom">
                    <a [href]="SlickMapComponent.getGoogleMapsHref()" target="_blank" class="link-content">Get Directions</a>
                </div>

                <div>
                    <b>Estimated Weight:</b>
                    <div class="inline-block">{{ delivery.estimatedWeight }} lbs</div>
                </div>

                <div>
                    <b>Delivery State:</b>
                    <div class="inline-block">{{ deliveryUtilService.getReadableDeliveryState(delivery.deliveryStateInfo.deliveryState) }}</div>
                </div>

                <div *ngIf="delivery.deliveryStateInfo.scheduledStartTime != null">
                    <b>Scheduled Start Time:</b>
                    <div class="inline-block">{{ getReadableScheduledStartTime() }}</div>
                </div>

            </slick-expansion-panel>

        </div>
        
    </slick-list-item>

    <!-- Footer Buttons -->
    <div class="modal-button-group">
        
        <button mat-raised-button color="primary" class="button-md" (click)="toSchedule.emit()" *ngIf="!isCart">Schedule Delivery</button>
        <button mat-raised-button color="primary" class="button-md" (click)="startDelivery()" *ngIf="showMappings.get('startButton')">Start Delivery</button>
        <button mat-raised-button color="primary" class="button-md" (click)="markPickedUp()" *ngIf="showMappings.get('markPickedUpButton')">Mark Picked Up</button>
        <button mat-raised-button color="primary" class="button-md" (click)="markDroppedOff()" *ngIf="showMappings.get('markDroppedOffButton')">Mark Dropped Off</button>
        <button mat-raised-button color="primary" class="button-md warn-button" (click)="toCancelReason.emit()" *ngIf="showMappings.get('cancelButton')">Cancel Delivery</button>

    </div>

</div>


<ng-container *ngIf="startComplete">

    <p>The delivery has been started.</p>
    <p>Both the Donor and Receiver will automatically be notified concerning your expected arrival.</p>
    <p>
        You can view and update the status of the delivery in the
        <a (click)="close.emit()" [routerLink]="['/deliveryCart']" class="link-content">Delivery Cart</a> tab.
    </p>

    <div class="modal-button-group">
        <button mat-raised-button color="primary" class="button-md" (click)="close.emit()">Ok</button>
    </div>

</ng-container>


<ng-container *ngIf="stateChangeComplete">
    
    <p>The delivery status has been updated to: <b>{{ deliveryUtilService.getReadableDeliveryState(delivery.deliveryStateInfo.deliveryState) }}</b>.</p>
    <p>Both the Donor and Receiver will automatically be notified concerning the delivery status change.</p>

    <div class="modal-button-group">
        <button mat-raised-button color="primary" class="button-md" (click)="close.emit()">Ok</button>
    </div>

</ng-container>
