<div *ngIf="!stateChangeComplete && !startComplete" [slick-progress-spinner]="showProgressSpinner">

    <!-- Body in the format of a Slick List Item! -->
    <slick-list-item [includeBorder]="false">
        
        <ng-container slick-list-item-img>

            <slick-map #SlickMapComponent
                [addresses]="[ sessionDataService.getAppUserSessionData().contactInfo, foodListing.donorInfo.contactInfo, foodListing.claimInfo.receiverInfo.contactInfo ]"
                [addressNames]="[ 'Me', foodListing.donorInfo.organization.name, foodListing.claimInfo.receiverInfo.organization.name ]"
                [diameterMi]="deliveryUtilService.calcMaxMapDiameterFromDelivery(foodListing)">
            </slick-map>

        </ng-container>

        <div slick-list-item-body class="row">

            <div class="col-lg-12">
                <mat-expansion-panel class="col-lg-12" [expanded]="true">

                    <mat-expansion-panel-header>
                        <mat-panel-title>Delivery Info</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div>
                        <b>Total Drive Distance:</b>
                        <div class="inline-block">{{ deliveryUtilService.calcTotalDrivingDistance(foodListing) }} miles</div>
                    </div>
            
                    <div>
                        <b>Total Drive Time:</b>
                        <div class="inline-block">{{ deliveryUtilService.calcTotalDrivingTime(foodListing) }} minutes</div>
                    </div>
            
                    <div class="space-bottom">
                        <a [href]="SlickMapComponent.googleMapsHref" target="_blank" class="link-content">Get Directions</a>
                    </div>

                    <div>
                        <b>Available Until</b>
                        <span>
                            {{ dateFormatter.dateToMonthDayYearString(foodListing.availableUntilDate) }},
                            {{ dateFormatter.dateToWallClockString(foodListing.availableUntilDate) }}
                        </span>
                    </div>

                    <div>
                        <b>Estimated Weight:</b>
                        <div class="inline-block">{{ foodListing.estimatedWeight }} lbs</div>
                    </div>

                    <div>
                        <b>Delivery State:</b>
                        <div class="inline-block">{{ deliveryUtilService.getReadableDeliveryState(foodListing.claimInfo.deliveryInfo.deliveryStateInfo.deliveryState) }}</div>
                    </div>

                    <div *ngIf="foodListing.claimInfo.deliveryInfo.deliveryStateInfo.scheduledStartTime != null">
                        <b>Scheduled Start Time:</b>
                        <div class="inline-block">{{ getReadableScheduledStartTime() }}</div>
                    </div>

                </mat-expansion-panel>
            </div>

            <div class="col-xl-6 col-lg-12">
                <mat-expansion-panel SlickExpansionPanel [collapseWidth]="1199" [expanded]="true">
                            
                    <mat-expansion-panel-header>
                        <mat-panel-title>Donor Contact</mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <span class="inline-block">{{ foodListing.donorInfo.organization.name }}</span><br>
                    <span>{{ foodListing.donorInfo.contactInfo.address }}</span><br>
                    <span class="space-bottom">
                        {{ foodListing.donorInfo.contactInfo.city }}, {{ foodListing.donorInfo.contactInfo.state }} {{ foodListing.donorInfo.contactInfo.zip }}
                    </span><br><br>
                    <a href="tel:{{foodListing.donorInfo.contactInfo.phone}}" class="link-content no-word-wrap">{{ foodListing.donorInfo.contactInfo.phone }}</a><br>
                    <a href="mailto:{{ foodListing.donorInfo.email }}" class="inline-block link-content">{{ foodListing.donorInfo.email }}</a>

                </mat-expansion-panel>
            </div>
            
            <div class="col-xl-6 col-lg-12">
                <mat-expansion-panel SlickExpansionPanel [collapseWidth]="1199" [expanded]="true">
                            
                    <mat-expansion-panel-header>
                        <mat-panel-title>Receiver Contact</mat-panel-title>
                    </mat-expansion-panel-header>

                    <span class="inline-block">{{ foodListing.claimInfo.receiverInfo.organization.name }}</span><br>
                    <span>{{ foodListing.claimInfo.receiverInfo.contactInfo.address }}</span><br>
                    <span>
                        {{ foodListing.claimInfo.receiverInfo.contactInfo.city }}, {{ foodListing.claimInfo.receiverInfo.contactInfo.state }}
                        {{ foodListing.claimInfo.receiverInfo.contactInfo.zip }}
                    </span><br><br>
                    <a href="tel:{{foodListing.claimInfo.receiverInfo.contactInfo.phone}}" class="link-content no-word-wrap">
                        {{ foodListing.claimInfo.receiverInfo.contactInfo.phone }}
                    </a><br>
                    <a href="mailto:{{ foodListing.claimInfo.receiverInfo.email }}" class="inline-block link-content">{{ foodListing.claimInfo.receiverInfo.email }}</a>

                </mat-expansion-panel>
            </div>

        </div>
        
    </slick-list-item>

    <!-- Footer Buttons -->
    <div class="modal-button-group">
        
        <button mat-raised-button color="primary" class="button-md" (click)="toSchedule.emit()" *ngIf="!isCart">Schedule Delivery</button>
        <button mat-raised-button color="primary" class="button-md" (click)="startDelivery()" *ngIf="shouldShowButton('startButton')">Start Delivery</button>
        <button mat-raised-button color="primary" class="button-md" (click)="markPickedUp()" *ngIf="shouldShowButton('pickedUpButton')">Mark Picked Up</button>
        <button mat-raised-button color="primary" class="button-md" (click)="markDroppedOff()" *ngIf="shouldShowButton('droppedOffButton')">Mark Dropped Off</button>
        <button mat-raised-button color="primary" class="button-md warn-button" (click)="toCancelReason.emit()" *ngIf="shouldShowButton('cancelButton')">Cancel Delivery</button>

    </div>

</div>


<ng-container *ngIf="startComplete">

    <p>The delivery has been started.</p>
    <p>Both the Donor and Receiver will automatically be notified concerning your expected arrival.</p>
    <p>
        You can view and update the status of the delivery in the
        <a (click)="close.emit()" [routerLink]="['/deliveryCart']" class="link-content">Delivery Cart</a> tab.
    </p>

    <div class="modal-button-group">
        <button mat-raised-button color="primary" class="button-md" (click)="close.emit()">Ok</button>
    </div>

</ng-container>


<ng-container *ngIf="stateChangeComplete">
    
    <p>The delivery status has been updated to: <b>{{ deliveryUtilService.getReadableDeliveryState(foodListing.claimInfo.deliveryInfo.deliveryStateInfo.deliveryState) }}</b>.</p>
    <p>Both the Donor and Receiver will automatically be notified concerning the delivery status change.</p>

    <div class="modal-button-group">
        <button mat-raised-button color="primary" class="button-md" (click)="close.emit()">Ok</button>
    </div>

</ng-container>
