#filters {
    border-right: 1px solid #D5D5D5;
    max-width: 262px; /* NOTE: Same as #slick-left-panel style below */
}

:host ::ng-deep #slick-left-panel {
    max-width: 262px !important; /* NOTE: Same as #filters style above */
}

/* When the screen gets small and the filters panel goes into mobile mode, then center the listings */
@media only screen and (max-width: 991px) {
    #listings {
        padding-left: 40px; /* Make room for filters expansion button */
    }
}

@media only screen and (max-width: 575px) {
    #listings {
        text-align: center;
    }
}
