<div class="progress-spinner-container" *ngIf="showSpinner">

    <div class="progress-spinner-backdrop" [style.opacity]="showSpinnerBackdrop ? 1 : 0" [style.background-color]="spinnerBackdropColor"></div>
    <mat-progress-spinner
        [color]="spinnerColor" [mode]="spinnerMode" [value]="spinnerValue" [enableSticky]="spinnerStickyTopId != null"
        [SlickScrollableSticky]="{ scrollable: false, stickyClass: 'sticky-spinner', containerId: spinnerStickyTopId }">
    </mat-progress-spinner>
    
</div>

<ng-content></ng-content>
