<div class="progress-spinner-container" *ngIf="showSpinner">

    <div class="progress-spinner-backdrop" [style.opacity]="showBackdrop ? 1 : 0" [style.background-color]="backdropColor"></div>
    <mat-progress-spinner
        [color]="color" [mode]="mode" [value]="value" [style.max-width]="maxWidth" [style.max-height]="maxHeight"
        [SlickScrollableSticky]="{ scrollable: false, stickyClass: 'sticky-spinner', containerId: spinnerStickyTopId }" [enableSticky]="spinnerStickyTopId != null">
    </mat-progress-spinner>

</div>

<ng-content></ng-content>
