<div class="container" [slick-progress-spinner]="showProgressSpinner">

    <mat-horizontal-stepper #stepper>

        <!-- Step 1: Donation -->
        <mat-step>

            <h1>Donor Form</h1>
            <hr>

            <form class="row" [formGroup]="form" (ngSubmit)="ifValidProceedToReview(form.value, form.valid, stepper)">

                <div class="col-md-12 col-lg-5 mobile-center">

                    <div class="crop-container" [style.max-width.px]="cropperSettings.canvasWidth">

                        <button mat-raised-button type="button" color="primary" class="button-md file-upload-button"
                         [style.width.px]="cropperSettings.canvasWidth" (click)="hiddenFileInput.click()">Upload Image (Optional)</button>
            
                        <!-- This is an invisible file input triggerd by above button -->
                        <div class="file-upload" style="display:none;">
                            <input #hiddenFileInput id="custom-input" type="file" (change)="fileChangeListener($event, cropper)">
                        </div>
            
                        <img-cropper #cropper [image]="this" [settings]="cropperSettings"></img-cropper>

                    </div>

                    <!-- Sample of actual result cropped image -->
                    <div *ngIf="this.image != null" class="crop-sample-container" [style.width.px]="cropperSettings.canvasWidth">
                        <h4>Crop Result</h4>
                        <img [src]="this.image">
                    </div>

                </div>

                <div class="col-md-12 col-lg-7">

                    <!-- foodTitle -->
                    <div class="form-group">
                        <h4 for="foodTitle">Title</h4>
                        <mat-form-field class="input-group" floatPlaceholder="never">
                            <textarea #foodTitle matInput matTextareaAutosize id="foodTitle" placeholder="Donation Title"
                                      formControlName="foodTitle" [maxlength]="foodTitleMaxLength" [errorStateMatcher]="this" required></textarea>
                            <mat-hint align="end">{{ foodTitle.value.length }} / {{ foodTitleMaxLength }}</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="row">

                        <!-- availableUntilDate -->
                        <div class="form-group col-md-6">
                            <h4 for="availableUntilDate">Available Until</h4>
                            <mat-input-container class="input-group" floatPlaceholder="never">
                                <input #availableUntilDate matInput id="availableUntilDate" [matDatepicker]="picker" placeholder="mm/dd/yyyy"
                                       formControlName="availableUntilDate" [errorStateMatcher]="this" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi="true" #picker></mat-datepicker>
                            </mat-input-container>
                        </div>

                        <!-- totalWeight -->
                        <div class="form-group col-md-6">
                            <h4 for="totalWeight">Estimated Weight</h4>
                            <mat-input-container floatPlaceholder="never">
                                <input matInput id="totalWeight" placeholder="weight (lbs)" formControlName="totalWeight"
                                       type="number" min="0.5" step="0.5" [errorStateMatcher]="this" required>
                                <span matSuffix>lbs</span>
                            </mat-input-container>
                        </div>

                    </div>

                    <!-- foodTypes -->
                    <div class="form-group extra-bottom-margin food-types-container">
                        <h4>Food Types</h4>
                        <food-types formControlName="foodTypes" [initiallyChecked]="false" [required]="true" [validate]="validate"></food-types>
                    </div>

                    <!-- perishable -->
                    <div class="form-group extra-bottom-margin">
                        <h4>Needs Refrigeration</h4>
                        <mat-radio-group #perishable [ngClass]="{'warn-foreground': isInvalid(control('perishable'))}" formControlName="perishable" required>
                            <mat-radio-button name="perishable" id="perishable-yes" [value]="true">Yes</mat-radio-button>
                            <mat-radio-button name="perishable" [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <!-- foodDescription -->
                    <div class="form-group">
                        <h4 for="foodDescription">Description</h4>
                        <mat-input-container class="input-group" floatPlaceholder="never">
                            <textarea #foodDescription matInput matTextareaAutosize id="foodDescription" placeholder="Donation Description" formControlName="foodDescription">
                            </textarea>
                        </mat-input-container>
                    </div>

                    <!-- units -->
                    <!-- <div class="form-group">

                        <ng-container *ngIf="isSplitIntoUnits()">
                            <h4>Donation Units</h4>
                            <div class="row">

                                <div class="col-md-4">
                                    <mat-input-container floatPlaceholder="never">
                                        <input matInput placeholder="Units Count" formControlName="availableUnitsCount" type="number" min="1"
                                               [errorStateMatcher]="this" required>
                                    </mat-input-container>
                                </div>

                                <div class="col-md-8">
                                    <mat-input-container floatPlaceholder="never">
                                        <input matInput placeholder="Units Label" formControlName="unitsLabel" [errorStateMatcher]="this" required>
                                    </mat-input-container>
                                </div>
                                
                            </div>
                        </ng-container>

                        <span class="link-content">
                            <a (click)="toggleSplitIntoUnits()">{{ isSplitIntoUnits() ? 'Combine into single unit' : 'Split into multiple units' }}</a>
                        </span>

                    </div> -->

                    <!-- This button does not actually submit data to the server, but rather moves to the confirmation display -->
                    <button mat-raised-button type="submit" color="primary" class="button-md">Next</button>

                </div>
            </form>

        </mat-step>

        <!-- Step 2: Donation Review -->
        <mat-step>

            <h1>Donation Review</h1>
            <hr>

            <div id="donation-summary" class="row">

                <div *ngIf="this.image != null" class="col-md-12 col-lg-5 mobile-center">

                    <img [style.width.px]="cropperSettings.canvasWidth" [src]="this.image"
                    [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">

                </div>

                <div class="col-lg-7">

                    <div class="form-group">
                        <h4>Title</h4>
                        <div>{{ control('foodTitle').value }}</div>
                    </div>
            
                    <div class="row">
                    
                        <div class="form-group col-md-6">
                            <h4>Available Until</h4>
                            <div>{{ control('availableUntilDate').value | dateFormatter }}</div>
                        </div>

                        <div class="form-group col-md-6">
                            <h4>Estimated Weight</h4>
                            <div>{{ control('totalWeight').value }} lbs</div>
                        </div>

                    </div>
            
                    <div class="form-group food-types-container">
                        <h4>Food Type(s)</h4>
                        <food-types #foodTypesDisplay [displayOnly]="true" [initiallyChecked]="false" [ngModel]="control('foodTypes').value"></food-types>
                    </div>

                    <div class="form-group">
                        <h4>Needs Refrigeration</h4>
                        <i class="material-icons" *ngIf="control('perishable').value" style="color:green">check</i>
                        <i class="material-icons" *ngIf="!control('perishable').value" style="color:red">clear</i>
                        <span>{{ (control('perishable').value === true) ? 'Yes' : 'No' }}</span>
                    </div>
            
                    <div class="form-group">
                        <h4>Description</h4>
                        <div *ngIf="!isFormControlEmpty(control('foodDescription'))">{{ control('foodDescription').value }}</div>
                        <div *ngIf="isFormControlEmpty(control('foodDescription'))">-- None --</div>
                    </div>

                    <div class="form-group" *ngIf="isSplitIntoUnits()">
                        <h4>Donation Units</h4>
                        <div>{{ control('availableUnitsCount').value }} {{ control('unitsLabel').value }}</div>
                    </div>

                    <br>
                    <button mat-raised-button color="primary" class="button-md warn-button" type="button" (click)="editDonation(stepper)">Edit Donation</button>
                    <button mat-raised-button color="primary" class="button-md" type="button"
                        (click)="submitDonation(form.value, form.valid, stepper)" style="margin-left:20px;">Confirm Donation</button>

                </div>

            </div>

        </mat-step>

        <!-- Step 2: Thank-you for Donating -->
        <mat-step>

            <h1>Thank-you for Donating</h1>
            <hr>

            <div id="thankyou-text" class="row">

                <div class="col-md-12">

                    <p>
                        Your donation is now available to be claimed by a receiver.
                    </p>

                    <p>
                        You can view your donations by clicking on the <b>Cart</b> tab at the top of the page.<br>
                        You can also click <a [routerLink]="['/foodListingCart']" class="link-content">here</a> to view your cart.
                    </p>

                    <button mat-raised-button color="primary" class="button-md" type="button" (click)="donateAgain(stepper, cropper)">Donate Again</button>

                </div>
 
            </div>

        </mat-step>

    </mat-horizontal-stepper>
</div>