h4 {
    font-weight: bold;
}

img {
    max-width: 100%;
}

i {
    cursor: pointer;
    cursor: hand;
    border-radius: 50%;
}

i:hover {
    background-color: rgb(236, 235, 235);
}

i:active {
    background-color: rgb(200, 255, 200);
}

#needsRefrigeration-yes {
    margin-right: 20px;
}

.field-margin-bottom {
    margin-bottom: 30px;
}

.food-types-container {
    max-width: 400px;
}

mat-form-field, mat-input-container {
    width: 100%;
}

.inline-error, mat-form-field, mat-input-container {
    font-size: 20px;
}

:host ::ng-deep .mat-form-field-infix {
    border: none;
    cursor: text;
}

.inline-error {
    line-height: 20px;
    vertical-align: top;
}

button.mat-raised-button.mat-primary.file-upload-button {
    border-radius: 0%;
}

.crop-sample-container {
    text-align: center;
}

.crop-container, .crop-sample-container {
    display: inline-block;
    vertical-align: top;
}

.units-input {
    display: inline-block;
}

#donation-summary, #thankyou-text {
    font-size: 18px;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
    height: 0px;
    visibility: hidden;
}

:host ::ng-deep .mat-progress-spinner {
    margin-top: 30px;
    max-width: 500px !important;
    max-height: 500px !important
}

/* Custom mobile formatting */
@media screen and (max-width: 1024px) {

    .mobile-center {
        text-align: center;
    }

}

@media screen and (max-width: 991px) {
    
    #form-title {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {

    .button-group button {
        width: 100%;
        margin-left: 0px !important;
        margin-bottom: 4px;
    }
}
