<div id="donate-container" class="container" [slick-progress-spinner]="showProgressSpinner" spinnerStickyTopId="donate-container" spinnerBackdropColor="white">

    <mat-horizontal-stepper [linear]="true" #stepper>

        <!-- Step 1: Donation -->
        <mat-step [stepControl]="form.get('primary')">

            <h1 class="form-title">Donor Form</h1>
            <hr>
            
            <div class="row">
            
                <div class="col-md-12 col-lg-5 mobile-center field-margin-bottom">
                    <slick-img-manager [formControl]="form.get('slickImgs')" [editMode]="true" [croppedWidth]="IMG_CROP_CONSTANTS.getDefCropWidth()"
                     [croppedHeight]="IMG_CROP_CONSTANTS.getDefCropHeight()" [galleryHeight]="300"></slick-img-manager>
                </div>
            
                <div class="col-md-12 col-lg-7" >
                    <primary-donate #primaryDonate [activateValidation]="activatePrimaryValidation" [formGroup]="form.get('primary')"></primary-donate>
                </div>
            </div>

            <!-- This button does not actually submit data to the server, but rather moves to the confirmation display -->
            <div class="button-group">
                <button mat-raised-button color="primary" class="button-md" type="button" matStepperNext (click)="setPrimaryValidationActive()">Next</button>
            </div>

        </mat-step>

        <mat-step [stepControl]="form.get('foodListingAvailability')">

            <availabiliy-donate #availabilityDonate [activateValidation]="activateAvailabilityValidation" [availabilityControl]="form.get('foodListingAvailability')">
            </availabiliy-donate>

            <div class="button-group">
                <button mat-raised-button color="primary" class="button-md warn-button" type="button" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" class="button-md" type="button" matStepperNext (click)="setAvailabilityValidationActive()">Next</button>
            </div>

        </mat-step>

        <mat-step>

            <h1>Donation Review</h1>
            <hr>

            <div id="donation-summary" class="row">

                <!-- IMPORTANT: lazy load the (gallery version) display of images since change detection combined witn ngx-gallery and base64 images generates TERRIBLE performance -->
                <div class="col-md-12 col-lg-5 mobile-center" *ngIf="stepper.selectedIndex === 2">
                    <slick-img-manager [ngModel]="form.get('slickImgs').value" [defaultImgUrl]="DEFAULT_IMG_URL"
                    [galleryHeight]="IMG_CROP_CONSTANTS.getDefCropImgGalleryHeight()" [galleryWidth]="IMG_CROP_CONSTANTS.getDefCropWidth()"></slick-img-manager>
                </div>

                <div class="col-lg-7">

                    <div class="form-group">
                        <h4>Title</h4>
                        <div>{{ form.get('primary.foodTitle').value }}</div>
                    </div>
            
                    <div class="row">
                    
                        <div class="form-group col-md-6">
                            <h4>Available Until</h4>
                            <div>{{ form.get('primary.availableUntilDate').value | dateFormatter }}</div>
                        </div>

                        <div class="form-group col-md-6">
                            <h4>Estimated Weight</h4>
                            <div>{{ form.get('primary.estimatedWeight').value }} lbs</div>
                        </div>

                    </div>
            
                    <div class="form-group food-types-container">
                        <h4>Food Type(s)</h4>
                        <food-types #foodTypesDisplay [displayOnly]="true" [initiallyChecked]="false" [ngModel]="form.get('primary.foodTypes').value"></food-types>
                    </div>

                    <div class="form-group">
                        <h4>Needs Refrigeration</h4>
                        <i class="material-icons" *ngIf="form.get('primary.needsRefrigeration').value" style="color:green">check</i>
                        <i class="material-icons" *ngIf="!form.get('primary.needsRefrigeration').value" style="color:red">clear</i>
                        <span>{{ (form.get('primary.needsRefrigeration').value === true) ? 'Yes' : 'No' }}</span>
                    </div>
            
                    <div class="form-group">
                        <h4>Description</h4>
                        <div *ngIf="!isFormControlEmpty(form.get('primary.foodDescription'))">{{ form.get('primary.foodDescription').value }}</div>
                        <div *ngIf="isFormControlEmpty(form.get('primary.foodDescription'))">-- None --</div>
                    </div>

                </div>
            </div>

            <div class="button-group">
                <button mat-raised-button color="primary" class="button-md warn-button" type="button" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" class="button-md" type="button" (click)="submitDonation(form.valid, stepper)">Confirm Donation</button>
            </div>

        </mat-step>

        <!-- Step 2: Thank-you for Donating -->
        <mat-step>

            <h1>Thank-you for Donating</h1>
            <hr>

            <div id="thankyou-text" class="row">

                <div class="col-md-12">

                    <p>
                        Your donation is now available to be claimed by a receiver.
                    </p>

                    <p>
                        You can view your donations by clicking on the <b>Cart</b> tab at the top of the page.<br>
                        You can also click <a [routerLink]="['/foodListingCart']" class="link-content">here</a> to view your cart.
                    </p>

                    <div class="button-group">
                        <button mat-raised-button color="primary" class="button-md" type="button" (click)="donateAgain(stepper)">Donate Again</button>
                    </div>

                </div>
 
            </div>

        </mat-step>

    </mat-horizontal-stepper>
</div>