<slick-filtered-list>
        
    <ng-container filters>

        <food-listings-filters #filters [formGroup]="filters" header="Cart Filters" [defaultAvailableAfterDateNow]="false">
            <ng-container top>

                <h5>Listings Status:</h5>
                <div class="form-group">
                    <md-radio-group formControlName="listingsStatus">

                        <label for="claimed" class="checkbox-compress">
                            <md-radio-button type="radio" id="claimed" name="listingsStatus" [value]="LISTINGS_STATUS.myClaimedListings"
                                title="Check this to only show my claimed food.">
                                Claimed
                            </md-radio-button>
                        </label>
                        <br>

                        <label for="donated" class="checkbox-compress">
                            <md-radio-button type="radio" id="donated" name="listingsStatus" [value]="LISTINGS_STATUS.myDonatedListings"
                                title="Check this to only show my donated food.">
                                Donated
                            </md-radio-button>
                        </label>

                    </md-radio-group>
                </div>

            </ng-container>
        </food-listings-filters>

    </ng-container>

    <ng-container listings>
        <food-listings #listings [header]="getFoodListingsTitle()" [isClaimedCart]="isClaimedCart()" [isDonatedCart]="isDonatedCart()"></food-listings>
    </ng-container>

</slick-filtered-list>
