<slick-filtered-list [filters]="filters" [listings]="listings">
        
    <ng-container filters>
        <food-listings-filters #filters [formGroup]="filters" [header]="getFiltersTitle(filters)" [additionalFilters]="additionalFilters" [defaultAvailableAfterDateNow]="false">

            <ng-container top>

                <h5>Cart Type:</h5>
                <div class="form-group">
                    <mat-radio-group formControlName="listingsStatus">

                        <label for="claimed" class="checkbox-compress">
                            <mat-radio-button type="radio" id="claimed" name="listingsStatus" [value]="LISTINGS_STATUS.myClaimedListings"
                                title="Check this to only show my claimed food.">
                                Claimed
                            </mat-radio-button>
                        </label>
                        <br>

                        <label for="donated" class="checkbox-compress">
                            <mat-radio-button type="radio" id="donated" name="listingsStatus" [value]="LISTINGS_STATUS.myDonatedListings"
                                title="Check this to only show my donated food.">
                                Donated
                            </mat-radio-button>
                        </label>

                    </mat-radio-group>
                </div>

            </ng-container>

        </food-listings-filters>
    </ng-container>



    <ng-container listings>
        <food-listings #listings
            [header]="getListingsTitle(filters.value)"
            [isClaimedCart]="isClaimedCart(filters.value)"
            [isDonatedCart]="isDonatedCart(filters.value)">
        </food-listings>
    </ng-container>

</slick-filtered-list>
