<div [slick-progress-spinner]="showProgressSpinner" *ngIf="!claimComplete">
    
    <div class="margin-bottom">
        <p>Are you sure you wish to claim the selected food?</p>
    </div>

    <!-- Footer -->
    <div class="modal-button-group">    
        <button mat-raised-button color="primary" class="button-md" (click)="claimSelectedFoodListing()">Confirm Claim</button>
    </div>
            
</div>

<ng-container *ngIf="claimComplete">

    <ng-container *ngIf="errMsg == null">
        <p>Claim of food listing <b>{{ foodListing.foodTitle }}</b> successful.</p>
        <p>You can view your newly claimed food in the <a (click)="close.emit()" [routerLink]="['/foodListingCart']" class="link-content">Food Cart</a> tab.</p>
    </ng-container>

    <div class="margin-bottom" *ngIf="errMsg != null">
        <p>Claim operation failed due to error:</p>
        <p class="warn-foreground">{{ errMsg }}</p>
    </div>

    <div class="modal-button-group">
        <button mat-raised-button color="primary" class="button-md" (click)="close.emit()">Ok</button>
    </div>

</ng-container>
