<div class="modal-header">

    <h3 class="modal-header-text">{{ dialogData.header }}</h3>

    <!-- Close button -->
    <button type="button" class="modal-close" aria-label="Close" (click)="dialogRef.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    
</div>
    
<div class="modal-body">

    <delivery-listing-info *ngIf="isDialogState('DeliveryInfo')"
        [foodListing]="dialogData.selectedListing" [isCart]="dialogData.isCart" (close)="dialogRef.close()"
        (toSchedule)="toSchedule()" (toCancelReason)="toCancelReason()" (removeListing)="removeSelectedListing.emit()">
    </delivery-listing-info>

    <delivery-listing-schedule *ngIf="isDialogState('Schedule')"
        [foodListing]="dialogData.selectedListing" (removeListing)="removeSelectedListing.emit()" (close)="dialogRef.close()">
    </delivery-listing-schedule>

    <delivery-listing-cancel *ngIf="isDialogState('CancelReason')"
        [foodListing]="dialogData.selectedListing" (removeListing)="removeSelectedListing.emit()" (close)="dialogRef.close()">
    </delivery-listing-cancel>
        
</div>
