<ng-container *ngIf="deliveryListing != null">
        
    <delivery-listing-info [delivery]="deliveryListing" [isCart]="isCart" *ngIf="isDialogState('DeliveryInfo')" (close)="close.emit()"
     (toSchedule)="toSchedule()" (toCancelReason)="toCancelReason()" (removeListing)="removeListing.emit(false)">
    </delivery-listing-info>

    <delivery-listing-schedule [delivery]="deliveryListing" *ngIf="isDialogState('Schedule')" (removeListing)="removeListing.emit(false)" (close)="close.emit()">
    </delivery-listing-schedule>

    <delivery-listing-cancel [delivery]="deliveryListing" *ngIf="isDialogState('CancelReason')" (removeListing)="removeListing.emit(false)" (close)="close.emit()">
    </delivery-listing-cancel>
    
</ng-container>
