<div id="login-container">

    <div id="login">

        <div class="modal-header">

            <h1 class="modal-title">
                {{forgotPassword ? "Password Recovery"
                                    : "Sign In"}}
            </h1>

            <div id="close-container" *ngIf="showCloseButton">
                <button type="button" class="modal-close" (click)="dialogRef.close()">&times;</button>
            </div>
            
        </div>


        <!-- Regular Modal Dialog Body -->
        <form ngNativeValidate *ngIf="!displayRecoveryResponseMessage" class="modal-body" (ngSubmit)="loginUser($event)" id="login-form"
            [formGroup]="loginForm" [slick-progress-spinner]="showProgressSpinner">

            <div>
                <mat-form-field>
                    <input matInput placeholder="email" name="email" AutoFocus formControlName="email" type="text" spellcheck="false" required>
                </mat-form-field>

                <mat-form-field *ngIf="!forgotPassword">
                    <input matInput placeholder="password" name="password" formControlName="password" type="password" required>
                </mat-form-field>
            </div>
            
            <div id="login-button-div">
                <button id="login-button" mat-raised-button color="primary" class="button-md" type="submit">
                    {{forgotPassword ? "Recover"
                                        : "Login"}}
                </button>
            </div>

            <div class="link-content">
                <a (click)="toggleForgotPassword()">
                    {{forgotPassword ? "Click here to login."
                                        : "Forgot your password? Click here."}}
                </a>
            </div>

        </form>

        <!-- Password Recovery Response Message Dialog Body -->
        <div *ngIf="displayRecoveryResponseMessage" id="recovery-response-message" class="modal-body">
            <p>We have sent a password reset message to your email address: <b>{{loginForm.value.email}}</b>.</p>
            <p>Please click on the link in the email message to reset your password.</p>
            <p>Thank-you!</p>
            <div id="login-button-div">
                <button id="login-button" mat-raised-button color="primary" class="button-md" (click)="close()">Close</button>
            </div>
        </div>


        <div id="login-err" class="modal-footer warn-foreground" *ngIf="loginError != null">
            {{loginError}}
        </div>

    </div>

</div>
