::ng-deep .login-dialog .mat-dialog-container {
    padding: 0px !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}

::ng-deep .login-dialog-backdrop {
    opacity: 1 !important;
    background-color: #444;
}

mat-form-field {
    font-size: 25px;
    width: 100%;
}

#login-container {
    width: 100%;
    text-align: center;
}

#login {
    display: inline-block;
    text-align: left;
    max-width: 400px;
    border: 1px solid black;
}

#login-button-div {
    text-align: right;
}

.modal-footer {
    max-height: 40px;
}

.link-content {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
}

#login-button {
    min-width: 125px;
}

#login-err {
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

#recovery-response-message {
    text-align: left;
}
