#food-listing-info-container {
    width: 100%;
    min-width: 80vw;
}

#food-types-container {
    max-width: 350px !important;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.col-xl-6, .col-lg-12 {
    margin: 0px;
    padding: 0px;
}

:host ::ng-deep .full-panel-min-height .mat-expansion-panel-body {
    min-height: 232px;
}
