<mat-input-container [floatPlaceholder]="floatPlaceholder" [id]="containerId" [ngClass]="containerClass">
    
    <input matInput #inputField [type]="type" [placeholder]="placeholder" [id]="inputId" [ngClass]="inputClass"
        [matAutocomplete]="autoComplete" [formControl]="inputControl" (blur)="handleBlur()" [maxlength]="maxlength"
        [max]="max" [min]="min" [InputFilter]="inputFilter" [caseSensitive]="caseSensitiveMatch">

    <mat-autocomplete #autoComplete="matAutocomplete" [id]="autoCompleteId" [ngClass]="autoCompleteClass" [hidden]="filtAutoCompleteData == null">
        <mat-option *ngFor="let data of filtAutoCompleteData" [value]="data">
            {{ data }}
        </mat-option>
    </mat-autocomplete>

</mat-input-container>
