<div class="container-fluid">
    <div class="row">

        <div id="filters" class="col-md-0 col-lg-3 no-pad" [style.max-width]="minFiltersWidth">

            <delivery-food-listings-filters header="Search Filters" [maxWidth]="minFiltersWidth" #deliveryFoodListingsFilters>
            </delivery-food-listings-filters>
        
        </div>

        <div id="listings" class="col-md-12 col-lg-9">

            <delivery-food-listings header="Available Deliveries" #deliveryFoodListings>

                <ng-container delivery-food-listing-dialog-footer>
                    <button md-raised-button color="primary" class="button-md" (click)="claimSelectedFoodListing()">Claim</button>
                </ng-container>
                
            </delivery-food-listings>
            
        </div>
        
    </div>
</div>
