<slick-filtered-list>

    <ng-container filters>
        <delivery-listings-filters #filters [formGroup]="filters" header="Search Filters">

            <ng-container bottom>

                <br>
                <h5>Availability Schedule:</h5>
                <div class="form-group">
                    <md-radio-group name="availability" formControlName="matchAvailability">
                        <md-radio-button name="availability" [value]="true" title="Shows deliveries that are available according to your weekly availability schedule">
                            Match Availability
                        </md-radio-button><br>
                        <md-radio-button name="availability" [value]="false" title="Shows deliveries that are avaialble to start delivery immediately">
                            Available Now
                        </md-radio-button>
                    </md-radio-group>
                </div>

            </ng-container>

        </delivery-listings-filters>
    </ng-container>

    <ng-container listings>
        <delivery-listings header="Available Deliveries" #listings></delivery-listings>
    </ng-container>
        
</slick-filtered-list>
