h4 {
    font-weight: bold;
}

i {
    cursor: pointer;
    cursor: hand;
    border-radius: 50%;
}

i:hover {
    background-color: rgb(236, 235, 235);
}

i:active {
    background-color: rgb(200, 255, 200);
}

#needsRefrigeration-yes {
    margin-right: 20px;
}

.field-margin-bottom {
    margin-bottom: 30px;
}

.food-types-container {
    max-width: 400px;
}

mat-form-field, mat-input-container {
    width: 100%;
}

.inline-error, mat-form-field, :host ::ng-deep mat-input-container {
    font-size: 18px;
}

:host ::ng-deep .mat-form-field-infix {
    border: none;
    cursor: text;
}

.inline-error {
    line-height: 20px;
    vertical-align: top;
}

/* Custom mobile formatting */
@media screen and (max-width: 1024px) {

    .mobile-center {
        text-align: center;
    }

}

@media screen and (max-width: 991px) {
    
    .form-title {
        text-align: center;
    }
}
