.time-range-container {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(247, 247, 239);
    border: 1px solid lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
}

.edit-time-range-container {
    display: table;
    padding-left: 3px;
    padding-right: 25px;
}

.display-time-range-container {
    padding-left: 7px;
    padding-right: 7px;
}

.remove-button {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    outline: none !important;
    border: none;
    font-weight: bold;
    color: red;
    background-color: inherit;
    opacity: 0.4;
}

.time-range-container:focus-within .remove-button, .remove-button:hover {
    opacity: 1;
}

.add-container {
    margin-top: 7px;
    display: table; /* Necessary so that add link will not span whole width of div, but content width only. */
}

.add-button {
    border-radius: 50%;
    color: white;
    border: none;
    outline: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding-left: 1px;
    padding-right: 0px;
}

.add-span {
    padding-left: 5px;
}

#err-msg {
    padding-left: 15px;
}
