#filters-header {
    text-align: center;
}

:host ::ng-deep .mat-select {
    padding-top: 0px;
}

:host ::ng-deep .mat-form-field-wrapper {
    max-width: 200px;
    margin-bottom: 10px;
}

:host ::ng-deep .mat-form-field-infix {
    border-top: none;
}

@media only screen and (min-width: 1200px) {

    #filters-container {
        padding-left: 10px;
    }
}
