<div [formGroup]="form" class="container" spellcheck="false">

    <h2 class>Identification</h2>
    <hr>
    <div class="row no-pad-top-input">

        <div class="col-md-6">

            <div class="form-group">

                <h4>Email Address:</h4>

                <span *ngIf="!editData.get('email').editing" class="link-content" (click)="setEditable('email')" title="edit">
                    {{ control('email').value }}<i class="material-icons">&#xe254;</i>
                </span>

                <form [formGroup]="form" (ngSubmit)="save('email')" [slick-progress-spinner]="editData.get('email').savePromise" *ngIf="editData.get('email').editing">

                    <md-input-container floatPlaceholder="never">
                        <input mdInput type="email" id="email" formControlName="email" placeholder="Email">
                        <md-error *ngIf="hasError('email')">{{ errorMsgFor('email') }}</md-error>
                    </md-input-container>

                    <button md-raised-button color="primary" class="button-sm" type="submit">Save</button>
                    <button md-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setEditable('email', false)">Cancel</button>

                </form>

            </div>

            <div *ngIf="isOrganization" class="form-group">

                <h4>Organization Name:</h4>

                <span *ngIf="!editData.get('organizationName').editing" class="link-content" (click)="setEditable('organizationName')" title="edit">
                    {{ control('organizationName').value}}<i class="material-icons">&#xe254;</i>
                </span>

                <form [formGroup]="form" (ngSubmit)="save('organizationName')"
                 [slick-progress-spinner]="editData.get('organizationName').savePromise" *ngIf="editData.get('organizationName').editing">

                    <md-input-container floatPlaceholder="never">
                        <input mdInput id="organizationName" formControlName="organizationName" placeholder="Organization Name">
                    </md-input-container>

                    <button md-raised-button color="primary" class="button-sm" type="submit">Save</button>
                    <button md-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setEditable('organizationName', false)">Cancel</button>

                </form>

            </div>

        </div><!-- col 2 -->

        <div class="col-md-6">

            <div class="form-group">

                <h4>{{ isOrganization ? 'Admin Name' : 'Name' }}:</h4>

                <span *ngIf="!editData.get('firstName').editing" class="link-content" (click)="setManyEditable(['firstName', 'lastName'])" title="edit">
                    {{ control('firstName').value }} {{ control('lastName').value }}<i class="material-icons">&#xe254;</i>
                </span>

                <form [formGroup]="form" (ngSubmit)="saveMany(['firstName', 'lastName'])"
                 [slick-progress-spinner]="editData.get('firstName').savePromise" *ngIf="editData.get('firstName').editing">

                    <div class="row">

                        <md-input-container floatPlaceholder="never" class="col-md-6">
                            <input mdInput id="firstName" placeholder="First Name" formControlName="firstName">
                        </md-input-container>

                        <md-input-container floatPlaceholder="never" class="col-md-6">
                            <input mdInput id="lastName" placeholder="Last Name" formControlName="lastName">
                        </md-input-container>

                    </div>

                    <button #saveName md-raised-button color="primary" class="button-sm" type="submit">Save</button>
                    <button md-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setManyEditable(['firstName', 'lastName'], false)">Cancel</button>

                </form>

            </div>

        </div><!-- col 1 -->

    </div><br><br><!-- row -->

    <h2 class>Contact Info</h2>
    <hr>
    <div class="row no-pad-top-input">

        <div class="col-md-6">

            <h4>Address:</h4>

            <div class="form-group" *ngIf="!editData.get('address').editing">
                <span class="link-content" (click)="setManyEditable(['address', 'city', 'state', 'zip'])" title="edit">
                    {{ control('address').value }}<br>
                    {{ control('city').value }}, {{ control('state').value }} {{ control('zip').value }}<i class="material-icons">&#xe254;</i>
                </span>
            </div>

            <form [formGroup]="form" (ngSubmit)="saveMany(['address', 'city', 'state', 'zip'])"
             [slick-progress-spinner]="editData.get('address').savePromise" *ngIf="editData.get('address').editing">

                <md-input-container floatPlaceholder="never" class="form-group">
                    <input mdInput id="address" placeholder="Street Address" name="address" formControlName="address">
                </md-input-container>

                <div class="row">

                    <md-input-container floatPlaceholder="never" class="form-group col-md-5">
                        <input mdInput placeholder="City" name="city" formControlName="city">
                    </md-input-container>

                    <slick-auto-complete-input id="state" [autoCompleteData]="appUserConstantsService.STATE_LIST" floatPlaceholder="never" placeholder="State"
                    [selectOnBlur]="true" [mustMatchAutoComplete]="true" class="col-md-3" [inputControl]="control('state')"></slick-auto-complete-input>

                    <md-input-container floatPlaceholder="never" class="form-group col-md-4">
                        <input mdInput placeholder="Zip" name="zip" [InputFilter]="appUserConstantsService.DYNAMIC_ZIP_REGEX" formControlName="zip">
                        <md-error *ngIf="hasError('zip')">{{ errorMsgFor('zip') }}</md-error>
                    </md-input-container>

                </div>

                <md-error *ngIf="hasError('address')">{{ errorMsgFor('address') }}</md-error>

                <button md-raised-button color="primary" class="button-sm" type="submit">Save</button>
                <button md-raised-button color="primary" class="button-sm warn-button" type="button"
                 (click)="setManyEditable(['address', 'city', 'state', 'zip'], false)">Cancel</button>

            </form>

        </div><!-- col 1 -->

        <div class="col-md-6">
            <div class="form-group">

                <h4>Phone Number:</h4>

                <div class="form-group" *ngIf="!editData.get('phone').editing">
                    <span class="link-content" (click)="setEditable('phone')" title="edit">
                        {{ control('phone').value }}<i class="material-icons">&#xe254;</i>
                    </span>
                </div>

                <form [formGroup]="form" (ngSubmit)="save('phone')" [slick-progress-spinner]="editData.get('phone').savePromise" *ngIf="editData.get('phone').editing">

                    <phone id="phone" required="true" [includeLabel]="false" formControlName="phone"></phone>
                    
                    <button md-raised-button color="primary" class="button-sm" type="submit">Save</button>
                    <button md-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setEditable('phone', false)">Cancel</button>

                </form>

            </div>
        </div><!-- col 2 -->

    </div><br><br> <!-- row -->

    <h2>Availability</h2>
    <hr>
    <div class="row" [slick-progress-spinner]="editData.get('availability').savePromise">

        <slick-weekday-schedule-builder #availability id="availability" [displayOnly]="!editData.get('availability').editing" formControlName="availability">
        </slick-weekday-schedule-builder>

        <div class="col-md-6">

            <button md-raised-button color="primary" class="button-sm" *ngIf="!editData.get('availability').editing" (click)="setEditable('availability')">
                Update Availability
            </button>

            <form [formGroup]="form" (ngSubmit)="save('availability')" *ngIf="editData.get('availability').editing">
                <button md-raised-button color="primary" class="button-sm" type="submit">Save</button>
                <button md-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setEditable('availability', false)">Cancel</button>
            </form>

        </div>

    </div><br><br>

    <h2>Password</h2>
    <hr>
    <div class="row">
            
        <div class="col-md-6">
            <button md-raised-button color="primary" class="button-sm" *ngIf="!editData.get('password').editing"
             (click)="setManyEditable(['currentPassword', 'password', 'confirmPassword'])">
                Update Password
            </button>

            <form [formGroup]="form" (ngSubmit)="savePassword('currentPassword', 'password', 'confirmPassword')"
             [slick-progress-spinner]="editData.get('password').savePromise" *ngIf="editData.get('password').editing">

                <div class="form-group">
                    <md-input-container class="full-width">
                        <input mdInput type="password" placeholder="Current Password" id="currentPassword" #currentPassword formControlName="currentPassword">
                        <md-error *ngIf="hasError('currentPassword')">{{ errorMsgFor('currentPassword') }}</md-error>
                    </md-input-container>
                </div>
                
                <div class="form-group">
                    <md-input-container class="full-width">
                        <input mdInput type="password" placeholder="New Password" id="password" #password formControlName="password">
                        <md-error *ngIf="hasError('password')">{{ errorMsgFor('password') }}</md-error>
                    </md-input-container>
                </div>

                <div class="form-group">
                    <md-input-container class="full-width">
                        <input mdInput type="password" placeholder="Confirm Password" id="confirmPassword" #confirmPassword formControlName="confirmPassword">
                        <md-error *ngIf="hasError('confirmPassword')">{{ errorMsgFor('confirmPassword') }}</md-error>
                    </md-input-container>
                </div>

                <button md-raised-button color="primary" class="button-sm" type="submit">Save</button>
                <button md-raised-button color="primary" class="button-sm warn-button" type="button"
                 (click)="setManyEditable(['currentPassword', 'password', 'confirmPassword'], false)">Cancel</button>
            </form>
        </div><!-- col -->

    </div><!-- row -->

</div><!-- container -->
