div, form {
    position: relative;
}

h2 {
    font-weight: bold;
}

.link-content {
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    padding-right: 40px;
}

.link-content:hover {
    color: green;
    text-decoration: underline;
}

span {
    font-size: 20px;
    display: block;
    min-height: 50px;
}

span i {
    display: none;
    position: absolute;
    margin-left: 3px;
    margin-top: 5px;
}

span:hover i {
    display: inline-block;
}

input:not(.form-control) {
    width: 100%;
}

.full-width {
    width: 100%;
}

.select-infix {
    position: absolute;
}

.select-infix mat-select {
    transform: translateY(-20px);
}

.select-infix i {
    transform: translateY(-3px);
}

input {
    font-size: 20px;
}

mat-icon {
    cursor: pointer;
    cursor: hand;
}

:host ::ng-deep mat-input-container {
    width: 100%;
}

#state {
    margin-bottom: 15px;
}
