<div [formGroup]="form" class="container" spellcheck="false">

    <h2 class>Identification</h2>
    <hr>
    <div class="row no-pad-top-input">

        <div class="col-md-6">

            <div class="form-group">

                <h4>Email Address:</h4>

                <span *ngIf="!getEditDataFor('email').editing" class="link-content" (click)="setEditable('email')" title="edit">
                    {{ form.get('email').value }}<i class="material-icons">&#xe254;</i>
                </span>

                <form [formGroup]="form" (ngSubmit)="save('email')" [slick-progress-spinner]="getEditDataFor('email').showProgressSpinner" *ngIf="getEditDataFor('email').editing">

                    <mat-input-container floatPlaceholder="never">
                        <input matInput type="email" id="email" formControlName="email" placeholder="Email">
                        <mat-error *ngIf="hasError('email')">{{ errorMsgFor('email') }}</mat-error>
                    </mat-input-container>

                    <button mat-raised-button color="primary" class="button-sm" type="submit">Save</button>
                    <button mat-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setEditable('email', false)">Cancel</button>

                </form>

            </div>

            <div class="form-group" *ngIf="IS_ORGANIZATION">

                <h4>Organization Name:</h4>

                <span *ngIf="!getEditDataFor('organization.name').editing" class="link-content" (click)="setEditable('organization.name')" title="edit">
                    {{ form.get('organization.name').value}}<i class="material-icons">&#xe254;</i>
                </span>

                <form formGroupName="organization" (ngSubmit)="save('organization.name')"
                [slick-progress-spinner]="getEditDataFor('organization.name').showProgressSpinner" *ngIf="getEditDataFor('organization.name').editing">

                    <mat-input-container floatPlaceholder="never">
                        <input matInput id="name" formControlName="name" placeholder="Organization Name">
                    </mat-input-container>

                    <button mat-raised-button color="primary" class="button-sm" type="submit">Save</button>
                    <button mat-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setEditable('organization.name', false)">
                        Cancel
                    </button>

                </form>

            </div>

        </div><!-- col 2 -->

        <div class="col-md-6">

            <div class="form-group">

                <h4>{{ IS_ORGANIZATION ? 'Admin Name' : 'Name' }}:</h4>

                <span *ngIf="!getEditDataFor('firstName').editing" class="link-content" (click)="setManyEditable(['firstName', 'lastName'])" title="edit">
                    {{ form.get('firstName').value }} {{ form.get('lastName').value }}<i class="material-icons">&#xe254;</i>
                </span>

                <form [formGroup]="form" (ngSubmit)="saveMany(['firstName', 'lastName'])"
                 [slick-progress-spinner]="getEditDataFor('firstName').showProgressSpinner" *ngIf="getEditDataFor('firstName').editing">

                    <div class="row">

                        <mat-input-container floatPlaceholder="never" class="col-md-6">
                            <input matInput id="firstName" placeholder="First Name" formControlName="firstName">
                        </mat-input-container>

                        <mat-input-container floatPlaceholder="never" class="col-md-6">
                            <input matInput id="lastName" placeholder="Last Name" formControlName="lastName">
                        </mat-input-container>

                    </div>

                    <button #saveName mat-raised-button color="primary" class="button-sm" type="submit">Save</button>
                    <button mat-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setManyEditable(['firstName', 'lastName'], false)">Cancel</button>

                </form>

            </div>

            <div class="form-group" *ngIf="IS_ORGANIZATION">

                <h4>Organization Tax Id:</h4>

                <div class="form-group" *ngIf="!getEditDataFor('organization.taxId').editing">
                    <span class="link-content" (click)="setEditable('organization.taxId')" title="edit">
                        {{ form.get('organization.taxId').value }}<i class="material-icons">&#xe254;</i>
                    </span>
                </div>

                <form formGroupName="organization" (ngSubmit)="save('organization.taxId')"
                 [slick-progress-spinner]="getEditDataFor('organization.taxId').showProgressSpinner" *ngIf="getEditDataFor('organization.taxId').editing">

                    <mat-input-container floatPlaceholder="never">
                        <input matInput placeholder="Organization Tax ID" [textMask]="{ mask: appUserConstants.TAX_ID_MASK, placeholderChar: '\u2000' }"
                        formControlName="taxId">
                    </mat-input-container>
                    
                    <button mat-raised-button color="primary" class="button-sm" type="submit">Save</button>
                    <button mat-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setEditable('organization.taxId', false)">Cancel</button>

                </form>

            </div>

        </div><!-- col 1 -->

    </div><br><br><!-- row -->

    <h2 class>Contact Info</h2>
    <hr>
    <div class="row no-pad-top-input">

        <div class="col-md-6">

            <h4>Address:</h4>

            <div class="form-group" *ngIf="!getEditDataFor('contactInfo.address').editing">
                <span class="link-content" (click)="setManyEditable(['contactInfo.address', 'contactInfo.city', 'contactInfo.state', 'contactInfo.zip'])" title="edit">
                    {{ form.get('contactInfo.address').value }}<br>
                    {{ form.get('contactInfo.city').value }}, {{ form.get('contactInfo.state').value }}
                    {{ form.get('contactInfo.zip').value }}<i class="material-icons">&#xe254;</i>
                </span>
            </div>

            <form formGroupName="contactInfo" (ngSubmit)="saveMany(['contactInfo.address', 'contactInfo.city', 'contactInfo.state', 'contactInfo.zip'])"
             class="form-group" [slick-progress-spinner]="getEditDataFor('contactInfo.address').showProgressSpinner" *ngIf="getEditDataFor('contactInfo.address').editing">

                <mat-input-container floatPlaceholder="never" class="form-group">
                    <input matInput id="address" placeholder="Street Address" name="address" formControlName="address">
                </mat-input-container>

                <div class="row">

                    <mat-input-container floatPlaceholder="never" class="form-group col-md-5">
                        <input matInput placeholder="City" name="city" formControlName="city">
                    </mat-input-container>

                    <mat-input-container floatPlaceholder="never" class="form-group col-md-3">
                        <input #stateInput matInput placeholder="state" name="state" formControlName="state" [InputFilter]="appUserConstants.STATE_LIST"
                         [ngbTypeahead]="typeaheadService.genOptionsFilter(stateInput, appUserConstants.STATE_LIST)" container="body" [placement]="typeaheadService.PLACEMENT">
                    </mat-input-container>

                    <mat-input-container floatPlaceholder="never" class="form-group col-md-4">
                        <input matInput placeholder="Zip" name="zip" [InputFilter]="appUserConstants.DYNAMIC_ZIP_REGEX" formControlName="zip">
                        <mat-error *ngIf="hasError('contactInfo.zip')">{{ errorMsgFor('contactInfo.zip') }}</mat-error>
                    </mat-input-container>

                </div>

                <mat-error *ngIf="hasError('contactInfo.address')">{{ errorMsgFor('contactInfo.address') }}</mat-error>

                <button mat-raised-button color="primary" class="button-sm" type="submit">Save</button>
                <button mat-raised-button color="primary" class="button-sm warn-button" type="button"
                 (click)="setManyEditable(['contactInfo.address', 'contactInfo.city', 'contactInfo.state', 'contactInfo.zip'], false)">Cancel</button>

            </form>

        </div><!-- col 1 -->

        <div class="col-md-6">
            <div class="form-group">

                <h4>Phone Number:</h4>

                <div class="form-group" *ngIf="!getEditDataFor('contactInfo.phone').editing">
                    <span class="link-content" (click)="setEditable('contactInfo.phone')" title="edit">
                        {{ form.get('contactInfo.phone').value }}<i class="material-icons">&#xe254;</i>
                    </span>
                </div>

                <form formGroupName="contactInfo" (ngSubmit)="save('contactInfo.phone')"
                 [slick-progress-spinner]="getEditDataFor('contactInfo.phone').showProgressSpinner" *ngIf="getEditDataFor('contactInfo.phone').editing">

                    <mat-input-container floatPlaceholder="never">
                        <input matInput placeholder="phone number" [textMask]="{ mask: appUserConstants.PHONE_MASK, placeholderChar: '\u2000' }" formControlName="phone">
                    </mat-input-container>
                    
                    <button mat-raised-button color="primary" class="button-sm" type="submit">Save</button>
                    <button mat-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setEditable('contactInfo.phone', false)">Cancel</button>

                </form>

            </div>
        </div><!-- col 2 -->

    </div><br><br> <!-- row -->

    <h2>Availability</h2>
    <hr>
    <form id="schedule-builder-container" class="row" [slick-progress-spinner]="getEditDataFor('availability').showProgressSpinner"
     [formGroup]="form" spinnerStickyTopId="schedule-builder-container">

        <slick-weekday-schedule-builder #availability id="availability" [displayOnly]="!getEditDataFor('availability').editing"
         formControlName="availability"></slick-weekday-schedule-builder>

        <div class="col-md-6">

            <button mat-raised-button color="primary" class="button-sm" *ngIf="!getEditDataFor('availability').editing"
             (click)="setEditable('availability')">
                Update Availability
            </button>

            <form [formGroup]="form" (ngSubmit)="save('availability')" *ngIf="getEditDataFor('availability').editing">
                <button mat-raised-button color="primary" class="button-sm" type="submit">Save</button>
                <button mat-raised-button color="primary" class="button-sm warn-button" type="button" (click)="setEditable('availability', false)">Cancel</button>
            </form>

            <mat-error *ngIf="hasError('availability')">{{ errorMsgFor('availability') }}</mat-error>

        </div>

    </form><br><br><br>

    <h2>Password</h2>
    <hr>
    <div class="row">
            
        <div class="col-md-6">
            <button mat-raised-button color="primary" class="button-sm" *ngIf="!getEditDataFor('password').editing"
             (click)="setManyEditable(['currentPassword', 'password', 'confirmPassword'])">
                Update Password
            </button>

            <form [formGroup]="form" (ngSubmit)="savePassword('currentPassword', 'password', 'confirmPassword')"
             [slick-progress-spinner]="getEditDataFor('password').showProgressSpinner" *ngIf="getEditDataFor('password').editing">

                <div class="form-group">
                    <mat-input-container class="full-width">
                        <input matInput type="password" placeholder="Current Password" id="currentPassword" #currentPassword formControlName="currentPassword">
                        <mat-error *ngIf="hasError('currentPassword')">{{ errorMsgFor('currentPassword') }}</mat-error>
                    </mat-input-container>
                </div>
                
                <div class="form-group">
                    <mat-input-container class="full-width">
                        <input matInput type="password" placeholder="New Password" id="password" #password formControlName="password">
                        <mat-error *ngIf="hasError('password')">{{ errorMsgFor('password') }}</mat-error>
                    </mat-input-container>
                </div>

                <div class="form-group">
                    <mat-input-container class="full-width">
                        <input matInput type="password" placeholder="Confirm Password" id="confirmPassword" #confirmPassword formControlName="confirmPassword">
                        <mat-error *ngIf="hasError('confirmPassword')">{{ errorMsgFor('confirmPassword') }}</mat-error>
                    </mat-input-container>
                </div>

                <button mat-raised-button color="primary" class="button-sm" type="submit">Save</button>
                <button mat-raised-button color="primary" class="button-sm warn-button" type="button"
                 (click)="setManyEditable(['currentPassword', 'password', 'confirmPassword'], false)">Cancel</button>
            </form>
        </div><!-- col -->

    </div><!-- row -->

</div><!-- container -->
