<h3>Deliveries</h3>
<hr>


<!-- This is the Food Listings (generated via loop) -->
<ng-container *ngFor="let deliveryFoodListing of listData; let i = index">

    <div class="deliver-container">

        <div class="deliver-img-container">

            <agm-map [latitude]="lat" [longitude]="lng">
                
                <!--<agm-map-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                 [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                    
                    <agm-map-info-window>
                    <strong>InfoWindow content</strong>
                    </agm-map-info-window>
                    
                </agm-map-marker>
                
                <agm-map-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                </agm-map-circle>-->
        
            </agm-map>

            <!--<img *ngIf="deliveryFoodListing.imgUrl != null" [src]="deliveryFoodListing.imgUrl"/>-->
        </div>

        <div [ngClass]="{ 'deliver-contents': (deliveryFoodListing.imgUrl != null) }">
            <h4 class="link-content deliver-title space-bottom">
                <a (click)="showDetails(i)" title="Click for Details">{{ deliveryFoodListing.foodTitle }}</a>
            </h4>

            <div class="row small-description">

                <div class="col-lg-6 col-md-12" style="max-width:300px">
                
                    <div class="space-bottom">
                        <b>Donor</b><br>
                        <span class="inline-block">{{ deliveryFoodListing.donorInfo.organizationName }}</span><br>
                        <span>{{ deliveryFoodListing.donorInfo.address }}</span><br>
                        <span>
                            {{ deliveryFoodListing.donorInfo.city }}, {{ deliveryFoodListing.donorInfo.state }}
                        </span>
                    </div>

                </div>

                <div class="col-lg-6 col-md-12">

                    <div class="space-bottom">
                        <b>Receiver</b><br>
                        <span class="inline-block">{{ deliveryFoodListing.receiverInfo.organizationName }}</span><br>
                        <span>{{ deliveryFoodListing.receiverInfo.address }}</span><br>
                        <span>
                            {{ deliveryFoodListing.receiverInfo.city }}, {{ deliveryFoodListing.receiverInfo.state }}
                        </span>
                    </div>

                </div>

                <div class="col-lg-12">
                    <b>Total Driving Distance:</b>
                    <div class="inline-block">
                        {{ Math.round(deliveryFoodListing.donorInfo.drivingDistance + deliveryFoodListing.receiverInfo.drivingDistance * 100) / 100 }} miles
                    </div>
                </div>

                <div class="col-lg-12">
                    <b>Total Driving Time:</b>
                    <div class="inline-block">
                        {{ Math.round(deliveryFoodListing.donorInfo.drivingTime + deliveryFoodListing.receiverInfo.drivingTime * 100) / 100 }} minutes
                    </div>
                </div>

            </div>
        </div>

    </div>
    <hr>
    
</ng-container>


<!-- This is our modal popup. It is separated into its own (child) component.
     Simply pass down transcluded HTML into this child component here! -->
<!--<deliver-dialog #DeliverDialogComponent>

    <ng-container confirm-modal-body>
        <ng-content select="[confirm-modal-body]"></ng-content>
    </ng-container>

    <ng-container details-modal-footer>
        <ng-content select="[details-modal-footer]"></ng-content>
    </ng-container>
    
    <ng-container confirm-modal-footer>
        <ng-content select="[confirm-modal-footer]"></ng-content>
    </ng-container>

</deliver-dialog>-->
