<slick-list-dialog #SlickListDialogComponent [header]="dialogData?.foodTitle">

    <!-- The body of the dialog is in the format of a slick list item! -->
    <slick-list-item slick-list-dialog-body *ngIf="isOpen()" [includeDivider]="false">
        
        <ng-container slick-list-item-left>
    
            <slick-map #SlickMapComponent [addresses]="[ dialogData.donorInfo, dialogData.receiverInfo ]"
             [addressNames]="[ dialogData.donorInfo.organizationName, dialogData.receiverInfo.organizationName ]"
             [diameterMi]="deliveryFoodListingUtilService.calcMaxMapDiameterFromDelivery(dialogData)">
            </slick-map>
    
        </ng-container>
    
        <div slick-list-item-right-body class="row">
            
            <slick-expansion-panel class="col-lg-6 col-md-12 desktop-space-bottom">
                        
                <ng-container md-panel-title>Donor Contact</ng-container>
                
                <span class="inline-block">{{ dialogData.donorInfo.organizationName }}</span><br>
                <span>{{ dialogData.donorInfo.address }}</span><br>
                <span class="space-bottom">
                    {{ dialogData.donorInfo.city }}, {{ dialogData.donorInfo.state }} {{ dialogData.donorInfo.zip }}
                </span><br>
                <a href="tel:{{dialogData.donorInfo.phone}}" class="link-content">{{ dialogData.donorInfo.phone }}</a>

            </slick-expansion-panel>
            
            <slick-expansion-panel class="col-lg-6 col-md-12 desktop-space-bottom">
                        
                <ng-container md-panel-title>Receiver Contact</ng-container>

                <span class="inline-block">{{ dialogData.receiverInfo.organizationName }}</span><br>
                <span>{{ dialogData.receiverInfo.address }}</span><br>
                <span>
                    {{ dialogData.receiverInfo.city }}, {{ dialogData.receiverInfo.state }} {{ dialogData.receiverInfo.zip }}
                </span><br>
                <a href="tel:{{dialogData.receiverInfo.phone}}" class="link-content">{{ dialogData.receiverInfo.phone }}</a>

            </slick-expansion-panel>
    
            <slick-expansion-panel class="col-lg-12">

                <ng-container md-panel-title>Delivery Info</ng-container>
    
                <div>
                    <b>Total Driving Distance:</b>
                    <div class="inline-block">
                        {{ deliveryFoodListingUtilService.calcTotalDrivingDistance(dialogData) }} miles
                    </div>
                </div>
        
                <div>
                    <b>Total Driving Time:</b>
                    <div class="inline-block">
                        {{ deliveryFoodListingUtilService.calcTotalDrivingTime(dialogData) }} minutes
                    </div>
                </div>
        
                <div class="space-bottom">
                    <a [href]="SlickMapComponent.genGoogleMapsHref()" target="_blank" class="link-content">Get Directions</a>
                </div>

                <div>
                    <b>Total Weight:</b>
                    <div class="inline-block">
                        {{ dialogData.totalWeight }} lbs
                    </div>
                </div>

            </slick-expansion-panel>
    
        </div>
        
    </slick-list-item>


    <ng-container slick-list-dialog-footer>
        <ng-content select="[delivery-food-listing-dialog-footer]"></ng-content>
    </ng-container>

</slick-list-dialog>
