<form [formGroup]="removeForm" [slick-progress-spinner]="showProgressSpinner" *ngIf="!removeComplete">

    <h5>Please provide a detailed reason for the removal.</h5>
    <mat-input-container id="removal-reason" floatPlaceholder="never">
        <textarea matInput matTextareaAutosize formControlName="removalReason" required></textarea>
    </mat-input-container>

    <!-- Footer -->
    <div class="modal-button-group">
        <button mat-raised-button color="primary" type="submit" class="button-md" (click)="removeSelectedFoodListing()">Confirm Remove</button>
    </div>

</form>


<ng-container *ngIf="removeComplete">

    <ng-container *ngIf="errMsg == null">
        <p>Successfully removed food listing: <b>{{ foodListing.foodTitle }}</b>.</p>
        <p>Any associated receivers or deliverers will be automatically notified of the removal.</p>
    </ng-container>

    <div *ngIf="errMsg != null">
        <p>Removal operation failed due to error:</p>
        <p class="warn-foreground">{{ errMsg }}</p>
    </div>

    <div class="modal-button-group">
        <button mat-raised-button color="primary" class="button-md" (click)="close.emit()">Ok</button>
    </div>

</ng-container>
