<div class="container no-pad-top-input">

    <form [formGroup]="form" class="row">

        <div class="col-md-6" *ngFor="let weekdaySplit of weekdaySplitService.weekdaySplits">

            <div class="row">
        
                <slick-expansion-panel class="col-md-12" *ngFor="let weekday of weekdaySplit" [formArrayName]="weekday">
                            
                    <ng-container mat-panel-title>{{ weekday }}</ng-container>

                    <div *ngFor="let timeRange of control(weekday).controls; let i = index"
                     class="time-range-container" [ngClass]="{  'display-time-range-container': displayOnly,
                                                                'edit-time-range-container': !displayOnly }">

                        <slick-time-range [weekday]="getWeekdayInd(weekday)" [validate]="validate" [displayOnly]="displayOnly" [formControlName]="i"></slick-time-range>
                        <button (click)="removeTimeRange(weekday, i)" type="button" class="remove-button" *ngIf="allowRemove && !displayOnly">&times;</button>

                    </div>

                    <div class="link-content add-container" *ngIf="canAddNewTimeRange(weekday)">

                        <a (click)="addTimeRange(weekday)">
                            <button type="button" class="add-button accent-background-darker">+</button>
                            <span class="add-span">Add Availability</span>
                        </a>

                    </div>

                </slick-expansion-panel>

            </div>

        </div>

        <div id="err-msg" class="warn-foreground" *ngIf="validate && form.hasError('required')">
            <span>* Must input at least one availability time range.</span>
        </div>

    </form>

    <br>

</div>
