<h2 id="filters-header">{{ header }}</h2>
<hr>

<div id="filters-container" [formGroup]="this">

    <!-- Any additional filters will be transclused here -->
    <ng-content select="[top]"></ng-content>

    <h5>Food Types:</h5>
    <food-types formControlName="foodTypes" [initiallyChecked]="false" [maxNumColumns]="1" title="Only food falling into the checked categories will appear."></food-types>
    <br>

    <h5>Max Distance:</h5>
    <mat-form-field floatPlaceholder="never">
        <mat-select formControlName="maxDistance" [value]="get('maxDistance').value" panelClass="select-panel"
         title="Max distance radius (in miles) between donor and receiver locations.">
            <mat-option *ngFor="let distance of MAX_DISTANCES" [value]="distance">
                {{ distance }} Mi
            </mat-option>
        </mat-select>
    </mat-form-field>

    <h5>Available After:</h5>
    <mat-input-container title="Only food available on or after this date will appear." floatPlaceholder="never" (click)="picker.open()">
        <input matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy" formControlName="availableAfterDate" readonly="true">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-input-container>
    <br>

    <h5>Refrigeration:</h5>
    <div>
        <label class="checkbox-compress">
            <mat-checkbox title="Check this if food that needs refrigeration should appear." formControlName="needsRefrigeration">
                Refrigerated Food
            </mat-checkbox>
        </label>
        <br>
        <label class="checkbox-compress">
            <mat-checkbox title="Check this if food that does not need refrigeration should appear." formControlName="notNeedsRefrigeration">
                Non-Refrigerated Food
            </mat-checkbox>
        </label>
    </div>

    <!-- Any additional filters will be transclused here -->
    <ng-content select="[bottom]"></ng-content>

    <br>
</div>
