#filters-header {
    text-align: center;
}

mat-input-container, input {
    cursor: pointer;
    cursor: hand;
}

:host ::ng-deep .mat-form-field-infix {
    border: none;
}

mat-input-container, input, mat-datepicker-toggle {
    font-size: 18px;
}

mat-input-container {
    margin-bottom: 5px;
}

@media only screen and (min-width: 1200px) {

    #filters-container {
        padding-left: 10px;
    }
}
