<!-- Container for each list item -->
<div class="slick-list-item" [ngClass]="{ 'list-div': includeBorder }">

    <!-- Header -->
    <h3 #header class="slick-list-item-header link-content space-bottom" [hidden]="header.children.length === 0 || headerPlacement === 'body'">
        <ng-content select="[slick-list-item-header]"></ng-content>
    </h3>
    
    <!-- Max-width image and associated content floating on left -->
    <div class="slick-list-item-img">
        <ng-content select="[slick-list-item-img]"></ng-content>
    </div>

    <!-- Right content extending remaining width after left -->
    <div class="slick-list-item-body-container">
        
        <!-- Header -->
        <h3 #bodyHeader class="slick-list-item-header link-content space-bottom" [hidden]="bodyHeader.children.length === 0 || headerPlacement === 'top'">
            <ng-content select="[slick-list-item-body-header]"></ng-content>
        </h3>
    
        <!-- Body -->
        <div class="slick-list-item-body">
            <ng-content select="[slick-list-item-body]"></ng-content>
        </div>
    
    </div>

    <!-- Bottom full width content -->
    <div class="slick-list-item-footer">
        <ng-content select="[slick-list-item-footer]"></ng-content>
    </div>

</div>
