<form [formGroup]="unclaimForm" [slick-progress-spinner]="showProgressSpinner" *ngIf="!unclaimComplete">
    
    <h5>Please provide a detailed reason for the unclaim.</h5>
    <mat-input-container id="unclaim-reason" floatPlaceholder="never">
        <textarea matInput matTextareaAutosize formControlName="unclaimReason" required></textarea>
    </mat-input-container>

    <!-- Footer -->
    <div class="modal-button-group">    
        <button mat-raised-button color="primary" type="submit" class="button-md" (click)="unclaimSelectedFoodListing()">Confirm Unclaim</button>
    </div>

</form>


<ng-container *ngIf="unclaimComplete">

    <ng-container *ngIf="errMsg == null">
        <p>Successfully unclaimed food listing: <b>{{ foodListing.foodTitle }}</b>.</p>
        <p>Any associated donors and deliverers will automatically be notified about the unclaim.</p>
    </ng-container>

    <div *ngIf="errMsg != null">
        <p>Unclaim operation failed due to error:</p>
        <p class="warn-foreground">{{ errMsg }}</p>
    </div>

    <div class="modal-button-group">
        <button mat-raised-button color="primary" class="button-md" (click)="close.emit()">Ok</button>
    </div>

</ng-container>
